@using Microsoft.AspNetCore.Identity
@using Vision.Data
@using Microsoft.EntityFrameworkCore;

@inject CRMDBContext _context
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentuser = await UserManager.GetUserAsync(User);
    
    var nickname = "User";
}
<!DOCTYPE HTML>
<html id="masterPageId" dir="ltr" lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>ICity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="~/Template/css/reset.css">
    <link type="text/css" rel="stylesheet" href="~/Template/css/plugins.css">
    <link id="styleen" type="text/css" rel="stylesheet" href="~/Template/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/Template/css/color.css">
    <link type="text/css" rel="stylesheet" href="~/Template/css/shop.css">

    @*<link id="stylear" type="text/css" rel="stylesheet" href="~/TemplateRTL/css/rtl-style.css">*@


    @*<link type="text/css" rel="stylesheet" href="~/TemplateRTL/css/reset.css">
        <link type="text/css" rel="stylesheet" href="~/TemplateRTL/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="~/TemplateRTL/css/style.css">
        <link type="text/css" rel="stylesheet" href="~/TemplateRTL/css/rtl-style.css">
        <link type="text/css" rel="stylesheet" href="~/TemplateRTL/css/color.css">*@

    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/Template/css/images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="loader-inner">
            <div class="loader-inner-cirle"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- main start  -->
    <div id="main">
        <!-- header -->

        <header class="main-header">
            <!-- logo-->
            <a asp-page="index" class="logo-holder"><img src="/images/IcityLogo.jpg" style="height:3rem;width:7rem;" alt=""></a>
            <!-- logo end-->
            <!-- header-search_btn-->
            <div class="header-search_btn show-search-button"><i class="fal fa-search"></i><span>Search</span></div>
            <!-- header-search_btn end-->
            <!-- header opt -->
            <a asp-area="TemplatePages" asp-page="DashBoardAddListing" class="add-list color-bg">Add Listing <span><i class="fal fa-layer-plus"></i></span></a>
            <div class="cart-btn   show-header-modal" data-microtip-position="bottom" role="tooltip" aria-label="Your Wishlist"><i class="fal fa-heart"></i><span class="cart-counter green-bg"></span> </div>
            @if (currentuser == null)
            {
                <div class="show-reg-form modal-open avatar-img" data-srcav="images/avatar/3.jpg"><i class="fal fa-user"></i>Sign In</div>
            }
            else
            {
                <form id="form1" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <div class="show-reg-form modal-open avatar-img" onclick="document.getElementById('form1').submit();" data-srcav="/@currentuser.ProfilePicture"><i class="fal fa-user"></i>Log Out</div>
                </form>

                <div class="header-user-menu">
                    <div class="header-user-name">
                       <span><img src="/@currentuser.ProfilePicture" alt=""></span>
                        @if (currentuser.NickName != null)
                        {
                            @currentuser.NickName;
                        }
                        else
                        {
                            @nickname
                        }

                    </div>
                    <ul>
                        <li><a asp-area="TemplatePages" asp-page="Profile"> Edit profile</a></li>
                        <li><a asp-area="TemplatePages" asp-page="DashBoardAddListing"> Add Listing</a></li>
                        <li><a href="dashboard-bookings.html">  Bookings  </a></li>
                        <li><a asp-area="TemplatePages" asp-page="ListingReviews"> Reviews </a></li>
                    </ul>
                </div>
            }            <!-- header opt end-->
            <!-- lang-wrap-->
            <div class="lang-wrap">
                <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong id="LangSelec"></strong></span><i class="fa fa-caret-down arrlan"></i></div>
                <ul class="lang-tooltip lang-action no-list-style">
                    <a onclick="ChangeLang('en')" id="ang1" asp-controller="Setting" asp-action="ChangeLanguage" asp-route-culture="en-US" asp-route-url="@Context.Request.Path@Context.Request.QueryString.ToString()" class="current-lan" data-lantext="En">English</a>
                    <br />
                    <br />
                    <a onclick="ChangeLang('ar')" id="ang2" asp-controller="Setting" asp-action="ChangeLanguage" asp-route-culture="ar-EG" asp-route-url="@Context.Request.Path@Context.Request.QueryString.ToString()" data-lantext="Fr">arabic</a>
                </ul>
            </div>
            <script>
                function ChangeLang(lang) {
                    document.getElementById("hello");
                    var anch1 = document.getElementById("ang1");
                    var anch2 = document.getElementById("ang2");
                    if (lang == "en") {
                        localStorage.setItem("lang", "en");
                    }
                    if (lang == "ar") {
                        localStorage.setItem("lang", "ar");
                    }
                }
                window.addEventListener('DOMContentLoaded', (event) => {
                    var LangSelec = document.getElementById("LangSelec");
                    console.log(LangSelec);
                    console.log(LangSelec.value);
                    var masterPage = document.getElementById("masterPageId");
                    if (localStorage.getItem("lang") != "") {
                        if (localStorage.getItem("lang") == "en") {
                            console.log(LangSelec.value);
                            LangSelec.innerHTML = "En";

                            masterPage.dir = "ltr";

                            var stylesheet = document.getElementById("stylear");
                            stylesheet.setAttribute('href', '/Template/css/style.css');
                            var stylesheet1 = document.getElementById("stylear");
                            stylesheet1.setAttribute('href', '');
                        }
                        else if (localStorage.getItem("lang") == "ar") {
                            masterPage.dir = "rtl"
                            LangSelec.innerHTML = "AR";

                            var stylesheet1 = document.getElementById("stylear");
                            stylesheet1.setAttribute('href', '/TemplateRTL/css/rtl-style.css');
                        }
                    }
                });
            </script>

            <!-- lang-wrap end-->
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap color-bg">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <!--  navigation -->
            <div class="nav-holder main-menu">
                <nav>
                    <ul class="no-list-style">
                        <li>
                            <a href="#" class="act-link">Home <i class="fa fa-caret-down"></i></a>
                            <!--second level -->
                            <ul>
                                <li><a href="index.html">Parallax Image</a></li>
                                <li><a href="index2.html">Slider</a></li>
                                <li><a href="index3.html">Slideshow</a></li>
                                <li><a href="index4.html">Video</a></li>
                                <li><a href="index5.html">Map</a></li>
                            </ul>
                            <!--second level end-->
                        </li>
                        <li>
                            <a href="#">Listings <i class="fa fa-caret-down"></i></a>
                            <!--second level -->
                            <ul>
                                <li><a href="listing.html">Column map</a></li>
                                <li><a href="listing2.html">Column map 2</a></li>
                                <li><a href="listing3.html">Fullwidth Map</a></li>
                                <li><a href="listing4.html">Fullwidth Map 2</a></li>
                                <li><a href="listing5.html">Without Map</a></li>
                                <li><a href="listing6.html">Without Map 2</a></li>
                                <li>
                                    <a href="#">Single <i class="fa fa-caret-down"></i></a>
                                    <!--third  level  -->
                                    <ul>
                                        <li><a href="listing-single.html">Style 1</a></li>
                                        <li><a href="listing-single2.html">Style 2</a></li>
                                        <li><a href="listing-single3.html">Style 3</a></li>
                                        <li><a href="listing-single4.html">Style 4</a></li>
                                    </ul>
                                    <!--third  level end-->
                                </li>
                            </ul>
                            <!--second level end-->
                        </li>
                        <li>
                            <a href="blog.html">News</a>
                        </li>
                        <li>
                            <a href="#">Pages <i class="fa fa-caret-down"></i></a>
                            <!--second level -->
                            <ul>
                                <li>
                                    <a href="#">Shop<i class="fa fa-caret-down"></i></a>
                                    <!--third  level  -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-single.html">Product single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--third  level end-->
                                </li>
                                <li><a asp-area="TemplatePages" asp-page="/AboutUs">About</a></li>
                                <li><a asp-area="TemplatePages" asp-page="/contacts">Contacts</a></li>
                                @*<li><a href="author-single.html">User single</a></li>
                                    <li><a href="help.html">How it Works</a></li>
                                    <li><a href="booking.html">Booking</a></li>
                                    <li><a href="pricing-tables.html">Pricing</a></li>
                                    <li><a asp-area="TemplatePages" asp-page="DashBoard">User Dasboard</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>*@
                                <li><a asp-area="TemplatePages" asp-page="/DashBoardAddListing">Add Listing</a></li>
                                <li><a asp-area="TemplatePages" asp-page="/DisplayListing">Buisness List</a></li>
                                <li><a asp-area="TemplatePages" asp-page="/ClassifiedAds/Listing">Classified Ads Listing</a></li>
                                <li><a asp-area="TemplatePages" asp-page="/PageNF">404</a></li>
                            </ul>
                            <!--second level end-->
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
            <!-- header-search_container -->
            <div class="header-search_container header-search vis-search">
                <div class="container small-container">
                    <div class="header-search-input-wrap fl-wrap">
                        <!-- header-search-input -->
                        <div class="header-search-input">
                            <label><i class="fal fa-keyboard"></i></label>
                            <input type="text" placeholder="What are you looking for ?" value="" />
                        </div>
                        <!-- header-search-input end -->
                        <!-- header-search-input -->
                        <div class="header-search-input location autocomplete-container">
                            <label><i class="fal fa-map-marker"></i></label>
                            <input type="text" placeholder="Location..." class="autocomplete-input" id="autocompleteid2" value="" />
                            <a href="#"><i class="fal fa-dot-circle"></i></a>
                        </div>
                        <!-- header-search-input end -->
                        <!-- header-search-input -->
                        <div class="header-search-input header-search_selectinpt ">
                            <select data-placeholder="Category" class="chosen-select no-radius">
                                <option>All Categories</option>
                                <option>All Categories</option>
                                <option>Shops</option>
                                <option>Hotels</option>
                                <option>Restaurants</option>
                                <option>Fitness</option>
                                <option>Events</option>
                            </select>
                        </div>
                        <!-- header-search-input end -->
                        <button class="header-search-button green-bg" onclick="window.location.href='listing.html'"><i class="far fa-search"></i> Search </button>
                    </div>
                    <div class="header-search_close color-bg"><i class="fal fa-long-arrow-up"></i></div>
                </div>
            </div>
            <!-- header-search_container  end -->
            <!-- wishlist-wrap-->
            @if (currentuser != null)
            {
                <div class="header-modal novis_wishlist">
                    <!-- header-modal-container-->
                    <div class="header-modal-container scrollbar-inner fl-wrap" data-simplebar>
                        <!--widget-posts-->
                        <div class="widget-posts  fl-wrap">
                            <ul class="no-list-style">
                                @{

                                   // var favourite = _context.Favourites.Include(a => a.AddListing).ThenInclude(a => a.Category).Where(a => a.UserId == currentuser.Id).ToList();
                                }
                               @* @foreach (var item in favourite)
                                {

                                    <li>

                                        <div class="widget-posts-img">
                                            <a asp-page="ListingDetails" asp-area="TemplatePages" asp-route-id="item.AddListingId"><img src="/item.AddListing.ListingLogo" alt=""></a>
                                        </div>
                                        <div class="widget-posts-descr">
                                            <h4><a href="listing-single.html">item.AddListing.Title </a></h4>
                                            <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> @item.AddListing.City</a></div>
                                            <div class="widget-posts-descr-link"><a href="listing.html">item.AddListing.Category.CategoryTitleEn </a></div>
                                            <div class="widget-posts-descr-score">@item.AddListing.Rating</div>
                                            <div onclick="addfavourite(item.AddListingId)" class="clear-wishlist"><i class="fal fa-times-circle"></i></div>
                                        </div>
                                    </li>
                                }
*@
                                                          </ul>
                        </div>
                        <!-- widget-posts end-->
                    </div>
                    <!-- header-modal-container end-->
                    <div class="header-modal-top fl-wrap">
                        <h4>Your Wishlist : <span><strong></strong> Listings</span></h4>
                        @*<div class="close-header-modal"><i class="far fa-times"></i></div>*@
                    </div>
                </div>
            }

            <!--wishlist-wrap end -->
        </header>
        <!-- header end-->
        @RenderBody()
        <footer class="main-footer fl-wrap">
            <!-- footer-header-->
            <div class="footer-header fl-wrap grad ient-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="subscribe-header">
                                <h3>Subscribe For a <span>Newsletter</span></h3>
                                <p>Whant to be notified about new locations ?  Just sign up.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="subscribe-widget">
                                <div class="subcribe-form">
                                    <form id="subscribe">
                                        <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Enter Your Email" spellcheck="false" type="text">
                                        <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fal fa-envelope"></i></button>
                                        <label for="subscribe-email" class="subscribe-message"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-header end-->
            <!--footer-inner-->
            <div class="footer-inner   fl-wrap">
                <div class="container">
                    <div class="row">
                        <!-- footer-widget-->
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap">
                                <div class="footer-logo"><a href="index.html"><img src="~/Template/images/logo.png" alt=""></a></div>
                                <div class="footer-contacts-widget fl-wrap">
                                    <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.   </p>
                                    <ul class="footer-contacts fl-wrap no-list-style">
                                        <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                        <li> <span><i class="fal fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                        <li><span><i class="fal fa-phone"></i> Phone :</span><a href="#">+7(111)123456789</a></li>
                                    </ul>
                                    <div class="footer-social">
                                        <span>Find  us on: </span>
                                        <ul class="no-list-style">
                                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer-widget end-->
                        <!-- footer-widget-->
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap">
                                <h3>Our Last News</h3>
                                <div class="footer-widget-posts fl-wrap">
                                    <ul class="no-list-style">
                                        <li class="clearfix">
                                            <a href="#" class="widget-posts-img"><img src="~/Template/images/all/1.jpg" class="respimg" alt=""></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Vivamus dapibus rutrum</a>
                                                <span class="widget-posts-date"><i class="fal fa-calendar"></i> 21 Mar 09.05 </span>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href="#" class="widget-posts-img"><img src="~/Template/images/all/1.jpg" class="respimg" alt=""></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title=""> In hac habitasse platea</a>
                                                <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 18.21 </span>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <a href="#" class="widget-posts-img"><img src="~/Template/images/all/1.jpg" class="respimg" alt=""></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">Tortor tempor in porta</a>
                                                <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 16.42 </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="blog.html" class="footer-link">Read all <i class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- footer-widget end-->
                        <!-- footer-widget  -->
                        <div class="col-md-4">
                            <div class="footer-widget fl-wrap ">
                                <h3>Our  Twitter</h3>
                                <div class="twitter-holder fl-wrap scrollbar-inner2" data-simplebar data-simplebar-auto-hide="false">
                                    <div id="footer-twiit"></div>
                                </div>
                                <a href="#" class="footer-link twitter-link" target="_blank">Follow us <i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <!-- footer-widget end-->
                    </div>
                </div>
                <!-- footer bg-->
                <div class="footer-bg" data-ran="4"></div>
                <div class="footer-wave">
                    <svg viewbox="0 0 100 25">
                        <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                    </svg>
                </div>
                <!-- footer bg  end-->
            </div>
            <!--footer-inner end -->
            <!--sub-footer-->
            <div class="sub-footer  fl-wrap">
                <div class="container">
                    <div class="copyright"> &#169; ICity 2022 .  All rights reserved.</div>
                    <div class="lang-wrap">
                        <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong>En</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                        <ul class="lang-tooltip lang-action no-list-style">
                            <li><a onclick="ChangeLang('en')" id="ang1" asp-controller="Setting" asp-action="ChangeLanguage" asp-route-culture="en-US" asp-route-url="@Context.Request.Path@Context.Request.QueryString.ToString()" data-lantext="En">@sharedResource["English"] </a></li>
                            <li><a onclick="ChangeLang('ar')" id="ang2" asp-controller="Setting" asp-action="ChangeLanguage" asp-route-culture="ar-EG" asp-route-url="@Context.Request.Path@Context.Request.QueryString.ToString()" data-lantext="Ar">@sharedResource["Arabic"] </a></li>
                            <li><a href="#" data-lantext="Es">Español</a></li>
                            <li><a href="#" data-lantext="De">Deutsch</a></li>
                        </ul>
                    </div>
                    <div class="subfooter-nav">
                        <ul class="no-list-style">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--sub-footer end -->
        </footer>
    </div>

    <!--=============== scripts  ===============-->
    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/scripts.js"></script>
    <script src="~/Template/js/map-single.js"></script>
     <script src="~/Template/js/shop.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
   @await Component.InvokeAsync("NToastNotify")
    <script>
        var FilterArray = JSON.parse(localStorage.getItem('FilterArray'));
        console.log(FilterArray + "Layout")
        if (FilterArray == null) {

            var FilterArray = [];
            localStorage.setItem('FilterArray', JSON.stringify(FilterArray));

        }
        function addfavourite(listingid) {

            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/DisplayListing?handler=Favourite",
                async: false,
                data: JSON.stringify(listingid),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    if (response == true) {
                        document.getElementById('heart' + listingid).style.color = "red";
                    } else
                        document.getElementById('heart' + listingid).style.color = "white";

                },
                failure: function (response) {
                }
            });
        }
    </script>
</body>

</html>
