@using Vision.Models;
@using System.Globalization;
@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ClassifiedBusiness
<!--box-widget-item -->
                                    <div class="box-widget-item fl-wrap block_box">
                                        <div class="box-widget-item-header">
                                            <h3>Working Hours</h3>
                                        </div>
                                        <div class="box-widget opening-hours fl-wrap">
                                            <div class="box-widget-content">
                                                <ul class="no-list-style">

                @{
                    foreach(var val in @Model.businessWorkingHours)
                    {
                        if (val.Isclosed)
                        {
                            <li class="sun"><span class="opening-hours-day">@val.Day </span><span class="opening-hours-time">Closed</span></li>

                        }
                        else
                        {
                            //var time = Convert.ToDateTime(val.StartTime1);
                            //var stringTime = time.ToString("hh:mm:ss tt", CultureInfo.CurrentCulture);
                            <li class="mon">
                                <span class="opening-hours-day">@val.Day </span>
                                <span class="opening-hours-time"> @val.StartTime1 </span>
                                <span class="opening-hours-time"> @val.EndTime1 </span>
                                <span class="opening-hours-time"> @val.StartTime2 </span>
                                <span class="opening-hours-time"> @val.EndTime2 </span>
                            </li>

                        }
                    }
                    
                }
                                                    @*<li class="tue"><span class="opening-hours-day">Tuesday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                    <li class="wed"><span class="opening-hours-day">Wednesday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                    <li class="thu"><span class="opening-hours-day">Thursday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                    <li class="fri"><span class="opening-hours-day">Friday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                                    <li class="sat"><span class="opening-hours-day">Saturday </span><span class="opening-hours-time">9 AM - 3 PM</span></li>
                                                    <li class="sun"><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Closed</span></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--box-widget-item end -->