@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Vision.ViewModels.MainInfoAdsDetailsVM
<div class="d-flex">
<div class="flex-grow-1">
    <h4>@Model.AdsTitleEN</h4>
    <div class="hstack gap-3 flex-wrap">
        <div>
            <a href="#" class="text-primary d-block">
               @Model.FullName
            </a>
        </div>
        <div class="vr"></div>
        <div class="text-muted">
            Phone : <span class="text-body fw-medium">@Model.Phone</span>
        </div>
        <div class="vr"></div>
        <div class="text-muted">
            Published : <span class="text-body fw-medium">@Model.PublishDate</span>
        </div>
    </div>
</div>
</div>

<div class="row mt-4">
    <div class="col-lg-4 col-sm-6">
        <div class="p-2 border border-dashed rounded">
            <div class="d-flex align-items-center">
                <div class="avatar-sm me-2">
                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                        <i class="ri-money-dollar-circle-fill"></i>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-1">Price :</p>
                    <h5 class="mb-0">@Model.price</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-lg-4 col-sm-6">
        <div class="p-2 border border-dashed rounded">
            <div class="d-flex align-items-center">
                <div class="avatar-sm me-2">
                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                        <i class="ri-file-copy-2-fill"></i>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-1">No. of Viewa :</p>
                    <h5 class="mb-0">@Model.views</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-lg-4 col-sm-6">
        <div class="p-2 border border-dashed rounded">
            <div class="d-flex align-items-center">
                <div class="avatar-sm me-2">
                    <div class="avatar-title rounded bg-transparent text-success fs-24">
                        <i class="ri-stack-fill"></i>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <p class="text-muted mb-1">Active :</p>
                    @{
                        if (Model.Active)
                        {
                            <h5 class="mb-0">Active</h5>
                        }
                        else
                        {
                            <h5 class="mb-0">Not Active</h5>
                        }
                    }
                   
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
  
    <!-- end col -->
</div>