<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span >@sharedResource["Dashboard"]</span></li>
                <li class="nav-item">
                    <a href="@Url.Action("Starter", "Pages")" class="nav-link menu-link" aria-expanded="false"><i class="ri-rocket-line"></i> <span>@sharedResource["Dashboard"]</span> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayoutsNew" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayoutsNew">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Classified Ads"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayoutsNew">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageClasifiedChart/Index" class="nav-link">@sharedResource["Manage Category"]</a>
                            </li>
                          
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->


               <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Bussiness Directory"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageBusinessChart/Index" class="nav-link">@sharedResource["Manage Category"]</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CRM/Configurations/ManageProductChart/Index" class="nav-link">@sharedResource["Manage Product"]</a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                 <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                         <i class="ri-share-line"></i> <span >@sharedResource["System Configurations"]</span>
                    </a>
                    <div class="collapse menu-dropdown"  id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-area="CRM" asp-page="/Configurations/ManageBanner/index" class="nav-link menu-link" class="nav-link" >@sharedResource["Manage Banner"]</a>

                            </li>
                              <li class="nav-item">
                                <a asp-area="CRM" asp-page="/Configurations/ManageSlider/index" class="nav-link menu-link" class="nav-link" >@sharedResource["Manage Sliders"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="CRM" asp-page="/SystemConfiguration/UserMessages/index" class="nav-link menu-link" class="nav-link" >@sharedResource["Customer Messages"]</a>

                            </li>
                             <li class="nav-item">
                                <a asp-area="CRM" asp-page="/SystemConfiguration/SocialLinks/index" class="nav-link menu-link" class="nav-link" >@sharedResource["Means of communication"]</a>

                            </li>
                             <li class="nav-item">
                                <a asp-area="CRM" asp-page="/SystemConfiguration/ManagePageContent/index"  class="nav-link menu-link" class="nav-link" >@sharedResource["Page Content"]</a>

                            </li>
                            
                        
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
@*
                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Pages</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarAuth">
                        <i class="ri-account-circle-line"></i> <span data-key="t-authentication">Authentication</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#sidebarSignIn" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSignIn" data-key="t-signin">
                                    Sign In
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSignIn">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignInBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignInCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarSignUp" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSignUp" data-key="t-signup">
                                    Sign Up
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSignUp">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignUpBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SignUpCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarResetPass" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarResetPass" data-key="t-password-reset">
                                    Password Reset
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarResetPass">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordResetBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordResetCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarchangePass" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false"
                                   aria-controls="sidebarchangePass" data-key="t-password-create">
                                    Password Create
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarchangePass">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordChangeBasic", "Authentication")" class="nav-link" data-key="t-basic">
                                                Basic
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("PasswordChangeCover", "Authentication")" class="nav-link" data-key="t-cover">
                                                Cover
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarLockScreen" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarLockScreen" data-key="t-lock-screen">
                                    Lock Screen
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLockScreen">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("LockScreenBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("LockScreenCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="#sidebarLogout" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarLogout" data-key="t-logout">
                                    Logout
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarLogout">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("LogoutBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("LogoutCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarSuccessMsg" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarSuccessMsg" data-key="t-success-message">
                                    Success Message
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarSuccessMsg">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SuccessMessageBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("SuccessMessageCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarTwoStep" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarTwoStep" data-key="t-two-step-verification">
                                    Two Step Verification
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarTwoStep">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("TwoStepVerificationBasic", "Authentication")" class="nav-link" data-key="t-basic"> Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("TwoStepVerificationCover", "Authentication")" class="nav-link" data-key="t-cover"> Cover </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarErrors" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarErrors" data-key="t-errors">
                                    Errors
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarErrors">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Basic", "Authentication")" class="nav-link" data-key="t-404-basic"> 404 Basic </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Cover", "Authentication")" class="nav-link" data-key="t-404-cover"> 404 Cover </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors404Alt", "Authentication")" class="nav-link" data-key="t-404-alt"> 404 Alt </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Errors500", "Authentication")" class="nav-link" data-key="t-500"> 500 </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Offline", "Authentication")" class="nav-link" data-key="t-offline-page"> Offline Page </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@

             @*   <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarMultilevel" data-bs-toggle="collapse"
                       role="button" aria-expanded="false" aria-controls="sidebarMultilevel">
                        <i class="ri-share-line"></i> <span data-key="t-multi-level">Multi Level</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarMultilevel">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-level-1.1"> Level 1.1 </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarAccount" class="nav-link" data-bs-toggle="collapse" role="button"
                                   aria-expanded="false" aria-controls="sidebarAccount" data-key="t-level-1.2">
                                    Level 1.2
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarAccount">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link" data-key="t-level-2.1"> Level 2.1 </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#sidebarCrm" class="nav-link" data-bs-toggle="collapse"
                                               role="button" aria-expanded="false" aria-controls="sidebarCrm" data-key="t-level-2.2">
                                                Level 2.2
                                            </a>
                                            <div class="collapse menu-dropdown" id="sidebarCrm">
                                                <ul class="nav nav-sm flex-column">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.1"> Level 3.1 </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link" data-key="t-level-3.2"> Level 3.2 </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>*@

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>