@page
@model Vision.Areas.CRM.Pages.Configurations.ManageSlider.IndexModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    
    ViewBag.Title = @sharedResource["Manage Sliders"];
    ViewBag.pTitle = @sharedResource["Sliders"];
    ViewBag.pageTitle = @sharedResource["Sliders"];
}
@section styles{
<!-- Sweet Alert css-->
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="leadsList">
            <div class="card-header border-0">

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">

                            <button type="button" class="btn btn-success add-btn"
                                    data-bs-toggle="modal" id="create-btn"
                                    data-bs-target="#showModal">
                                <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add Slider"]
                            </button>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table class="table align-middle" id="customerTable">
                            <thead class="table-light">
                                <tr>

                                    <th class="sort" data-sort="name">@sharedResource["Image"]</th>
                                    <th class="sort" data-sort="company_name">@sharedResource["Slider Type"]</th>
                                    <th class="sort" data-sort="leads_score">@sharedResource["Page Index"]</th>
                                    <th class="sort" data-sort="leads_score">@sharedResource["Sort Order"]</th>
                                    <th class="sort" data-sort="phone">@sharedResource["Is Active"]</th>
                                    <th class="sort" data-sort="phone">@sharedResource["Actions"]</th>

                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                @{
                                    foreach (var item in Model.Sliders)
                                    {
                                        <tr>

                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="~/@item.Pic" alt=""
                                                     class="avatar-xxs rounded-circle image_src object-cover">
                                                    </div>
                                                </div>
                                            </td>
                                            @{
                                                if (Model.BrowserCulture == "en-US")
                                                {
                                                    <td class="company_name">@item.EntityType.EntityTitleEn</td>
                                                }
                                                else
                                                {

                                                    <td class="company_name">@item.EntityType.EntityTitleAr</td>

                                                }
                                            }

                                            <td class="leads_score">@item.PageIndex</td>
                                            <td class="leads_score">@item.OrderIndex</td>
                                            <td class="leads_score">@item.IsActive</td>

                                            <td>
                                                <ul class="list-inline hstack gap-2 mb-0">


                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="View">
                                                        <a href="javascript:void(0)" data-bs-toggle="modal">
                                                            <i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(@item.SliderId)"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="Edit">
                                                        <a class="edit-item-btn" href="javascript:void(0)"
                                                       data-bs-toggle="modal">
                                                            <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(@item.SliderId)"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="Delete">
                                                        <a class="remove-item-btn" data-bs-toggle="modal"
                                                       href="javascript:void(0)">
                                                            <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteSlider(@item.SliderId)"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>


                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                           trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                           style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ leads We
                                    did not find any
                                    leads for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="pagination-wrap hstack gap-2">
                            <a class="page-item pagination-prev disabled" href="#">
                                Previous
                            </a>
                            <ul class="pagination listjs-pagination mb-0"></ul>
                            <a class="page-item pagination-next" href="#">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="showModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content p-3">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close" id="close-modal"></button>
                            </div>

                            <form method="post" enctype="multipart/form-data" asp-area="CRM" asp-page="/Configurations/ManageSlider/Index" asp-page-handler="AddSlider" onsubmit="return validateForm();">
                                <input type="text" hidden name="SelectedVal" id="SelValueId" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-12">
                                    <div class="text-center col-lg-12">
                                        <div class="position-relative d-inline-block">
                                            <div class="position-absolute bottom-0 end-0">
                                                <label for="file" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="@sharedResource["Select Image"]">
                                                    <div class="avatar-xs cursor-pointer">
                                                        <div class="avatar-title bg-light border rounded-circle text-muted">
                                                            <i class="ri-image-fill"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                                <input class="form-control d-none hidefromHere" name="file" id="file" type="file"
                                                       accept="image/*" required>
                                            </div>
                                            <div class="avatar-lg p-1">
                                                <div class="avatar-title bg-light rounded-circle">
                                                    <img src="~/assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover" />
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="fs-13 mt-3">@sharedResource["Image"] </h5>

                                    </div>
                                </div>

                                <div class="row col-12">

                                    <div class="form-group col-12">
                                        <label asp-for="AddSlider.EntityTypeId" for="car-rental-name">@sharedResource["Slider Type"] <small class="text-danger">*</small></label>

                                        <select id="CatId" data-val="true" data-val-required="@sharedResource["Slider Type"]" asp-for="AddSlider.EntityTypeId" class="form-select required" aria-label="Default select example" required onchange="FillTypes(this.value)">
                                            <option selected value=0>@sharedResource["Select Slider Type"]</option>

                                            @{
                                                if (@Model.EntityTypes != null)
                                                {
                                                    foreach (var item in @Model.EntityTypes)

                                                    {

                                                        if (Model.BrowserCulture == "en-US")
                                                        {
                                                            <option value="@item.EntityTypeId">@item.EntityTitleEn</option>


                                                        }
                                                        else
                                                        {
                                                            <option value="@item.EntityTypeId">@item.EntityTitleAr</option>



                                                        }

                                                    }
                                                }
                                            }

                                        </select>
                                        @{
                                            if (Model.BrowserCulture == "en-US")
                                            {
                                                <span id="CatSpanId" style="display:none" class="text-danger">Slider Type Is Required</span>


                                            }
                                            else
                                            {

                                                <span id="CatSpanId" style="display:none" class="text-danger">النوع مطلوب</span>



                                            }


                                        }


                                    </div>

                                </div>

                                

                                    <div class="form-group col-12" id="ControlContent">
                                    </div>

                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <label asp-for="AddSlider.PageIndex" class="control-label">@sharedResource["Page Index"]</label>
                                        <input asp-for="AddSlider.PageIndex" class="form-control" />
                                        <span asp-validation-for="AddSlider.PageIndex" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-6">
                                        <label asp-for="AddSlider.OrderIndex" class="control-label">@sharedResource["Order Index"]</label>
                                        <input asp-for="AddSlider.OrderIndex" class="form-control" />
                                        <span asp-validation-for="AddSlider.OrderIndex" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-6" style="padding-top: 2rem">
                                        <div class="form-check">
                                            <input asp-for="AddSlider.IsActive" class="form-check-input" type="checkbox">
                                            <label for="AddSlider.IsActive" class="form-check-label">@sharedResource["Is Active"]</label>
                                            <span asp-validation-for="AddSlider.IsActive" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group mt-2">
                                    <input type="submit" value="@sharedResource["Create"]" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!--end modal-->
                <!-- Modal -->
                <!--end modal -->



            </div>
        </div>

    </div>
    <!--end col-->
</div>
<!--end row-->
<partial name="_ViewPop" model="@Model.AddSlider" view-data=" ViewData" />
<partial name="_DatchDelete" model="@Model.AddSlider" view-data="ViewData" />
<partial name="_EditPopup" model="@Model.AddSlider" view-data=" ViewData" />



@section scripts{
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- list.js min js -->
<script src="~/assets/libs/list.js/list.min.js"></script>
<script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
<!-- crm leads init -->
<script src="~/assets/js/pages/crm-leads.init.js"></script>
}

<script>
    
    function AssignSelectedValue(itemSelected) {
         console.log(itemSelected)
         let element = document.getElementById("EditsliderSelectId");
         console.log(element);
         for (var option of element.options)
    {
    if (option.value == itemSelected)
    {
        console.log("yes");
        console.log(option);
        option.setAttribute('selected', true);
     return; 
        //option.selected = true;
        
    }
    }
     }
    function validateForm() {
         if (document.getElementById("file").files.length == 0) {
             alert("You Must Select Image");
             return false;
         }
         var CatId = document.getElementById("CatId").value
         console.log(CatId)
         var CatSpanId = document.getElementById("CatSpanId")

         if (CatId == 0) {
            CatSpanId.style.display = "flex";
             return false;
         }
        
         var SelectedVal=document.getElementById("sliderSelectId").value;
         if(SelectedVal==0){
              alert("You Must Select Slider Target");
              return false;
         }
         document.getElementById("SelValueId").value=SelectedVal;

         return true;
     }
     function FillTypes(SliderTypeId) {
         console.log("Fill Types Function");
         ControlContent=document.getElementById("ControlContent");
       $.ajax({
         type: "GET",
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader("XSRF-TOKEN",
                         $('input:hidden[name="__RequestVerificationToken"]').val());
                 }
                 ,
         url: "/CRM/Configurations/ManageSlider/Index?handler=SingleFillData",

         data: { "SliderTypeId": SliderTypeId },
         contentType: "application/json",
         dataType: "json",
         success: function (response) {



             if(SliderTypeId==1)
             {
                 ControlContent.innerHTML = "";

                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Classified";
                 }else{
                      label.innerHTML  ="إختر الإعلان";

                 }

                  ControlContent.appendChild(label);

                 var select = document.createElement('select');
                  select.setAttribute('id', "sliderSelectId");
                  select.classList.add("form-select");
                       option = document.createElement('option');
                 option.value = 0;
                 if(localStorage.getItem("lang")=="en")
                 {
                     option.text  ="Select "
                 }else{
                      option.text ="إختر "

                 }
                  select.appendChild(option);

                  for(let i=0;i<response["$values"].length;i++)
                {
                            option = document.createElement('option');
                     option.value = response["$values"][i].ClassifiedAdId;
                     option.text = response["$values"][i].TitleAr;
                     select.appendChild(option);

                }
                     ControlContent.appendChild(select);



             }
             if(SliderTypeId==2)
             {
                ControlContent.innerHTML = "";
                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Bussiness";
                 }else{
                      label.innerHTML  ="إختر العمل";

                 }

                  ControlContent.appendChild(label);

                 var select = document.createElement('select');
                 select.setAttribute('id', "sliderSelectId");
                  select.classList.add("form-select");
                       option = document.createElement('option');
                 option.value = 0;
                 if(localStorage.getItem("lang")=="en")
                 {
                     option.text  ="Select "
                 }else{
                      option.text ="إختر "

                 }
                  select.appendChild(option);

                  for(let i=0;i<response["$values"].length;i++)
                {
                     option = document.createElement('option');
                     option.value = response["$values"][i].ClassifiedBusinessId;
                     option.text = response["$values"][i].Title;
                     select.appendChild(option);

                }
                     ControlContent.appendChild(select);



             }
             if(SliderTypeId==3)
             {
                ControlContent.innerHTML = "";
                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Profile";
                 }else{
                      label.innerHTML  ="إختر الملف الشخصي";

                 }

                  ControlContent.appendChild(label);

                 var select = document.createElement('select');
                  select.setAttribute('id', "sliderSelectId");
                  select.classList.add("form-select");
                       option = document.createElement('option');
                 option.value = 0;
                 if(localStorage.getItem("lang")=="en")
                 {
                     option.text  ="Select "
                 }else{
                      option.text ="إختر "

                 }
                  select.appendChild(option);

                  for(let i=0;i<response["$values"].length;i++)
                {
                     option = document.createElement('option');
                     option.value = response["$values"][i].Id;
                     option.text = response["$values"][i].FullName;
                     select.appendChild(option);

                }
                     ControlContent.appendChild(select);



             }
             console.log(response);



         },

         failure: function (response) {
             alert(response);
         }
     });





     }
  

     function EditFillTypes(SliderTypeId,EntityId) {
         console.log("Fill Types Function");
         EditControlContent=document.getElementById("EditControlContent");
       $.ajax({
         type: "GET",
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader("XSRF-TOKEN",
                         $('input:hidden[name="__RequestVerificationToken"]').val());
                 }
                 ,
         url: "/CRM/Configurations/ManageSlider/Index?handler=SingleFillData",

         data: { "SliderTypeId": SliderTypeId },
         contentType: "application/json",
         dataType: "json",
         success: function (response) {



             if(SliderTypeId==1)
             {
                 EditControlContent.innerHTML = "";

                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Classified";
                 }else{
                      label.innerHTML  ="إختر الإعلان";

                 }

                  EditControlContent.appendChild(label);

                 var select = document.createElement('select');
                  select.setAttribute('id', "EditsliderSelectId");
                  select.classList.add("form-select");




                  for(let i=0;i<response["$values"].length;i++)
                {
                      option = document.createElement('option');
                     option.value = response["$values"][i].ClassifiedAdId;
                     option.text = response["$values"][i].TitleAr;
                    if(EntityId!=null)
                    {
                        if(option.value == EntityId)
                        {
                            console.log("NotEqualNull");
                           option.selected = true;

                        }
                        
                    }
                          
                     select.appendChild(option);

                }
                     EditControlContent.appendChild(select);



             }
             if(SliderTypeId==2)
             {
                EditControlContent.innerHTML = "";
                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Bussiness";
                 }else{
                      label.innerHTML  ="إختر العمل";

                 }

                  EditControlContent.appendChild(label);

                 var select = document.createElement('select');
                 select.setAttribute('id', "EditsliderSelectId");
                  select.classList.add("form-select");


                  for(let i=0;i<response["$values"].length;i++)
                {
                     option = document.createElement('option');
                     option.value = response["$values"][i].ClassifiedBusinessId;
                     option.text = response["$values"][i].Title;
                     if(EntityId!=null)
                    {
                        if(option.value == EntityId)
                        {
                            console.log("NotEqualNull");
                           option.selected = true;

                        }
                    }
                     select.appendChild(option);

                }
                     EditControlContent.appendChild(select);



             }
             if(SliderTypeId==3)
             {
                EditControlContent.innerHTML = "";
                 var label = document.createElement('label');

                if(localStorage.getItem("lang")=="en")
                 {
                     label.innerHTML  = "Select Profile";
                 }else{
                      label.innerHTML  ="إختر الملف الشخصي";

                 }

                  EditControlContent.appendChild(label);

                 var select = document.createElement('select');
                  select.setAttribute('id', "EditsliderSelectId");
                  select.classList.add("form-select");


                  for(let i=0;i<response["$values"].length;i++)
                {
                     option = document.createElement('option');
                     option.value = response["$values"][i].Id;
                     option.text = response["$values"][i].FullName;
                     if(EntityId!=null)
                    {
                        if(option.value == EntityId)
                        {
                            console.log("NotEqualNull");
                            option.selected = true;

                        }
                    }
                     select.appendChild(option);

                }
                     EditControlContent.appendChild(select);



             }
             console.log(response);



         },

         failure: function (response) {
             alert(response);
         }
     });





     }
     function validateEditForm() {
         
         
         var EditSelectedVal=document.getElementById("EditsliderSelectId").value;
         if(EditSelectedVal==0){
              alert("You Must Select Slider Target");
              return false;
         }
         document.getElementById("EditSelValueId").value=EditSelectedVal;

         return true;
     }
         function editButtonClick(SliderId) {


             console.log(SliderId);
    $.ajax({
         type: "GET",
                 beforeSend: function (xhr) {
                     xhr.setRequestHeader("XSRF-TOKEN",
                         $('input:hidden[name="__RequestVerificationToken"]').val());
                 }
                 ,
         url: "/CRM/Configurations/ManageSlider/Index?handler=SingleSliderForEdit",

         data: { "SliderId": SliderId },
         contentType: "application/json",
         dataType: "json",
         success: function (response) {
             
             document.getElementsByClassName('sliderImgCla')[0].src= "/"+response.Pic
                 document.getElementById("SliderHiddenId").value = response.SliderId
                     document.getElementById("SliderPicHiddenId").value = response.Pic
                     document.getElementById("EditCatId").value = response.EntityTypeId
                     if(response.IsActive){
                         document.getElementById("SliderIsActive").checked=true;
                     }
                     else{
                      document.getElementById("SliderIsActive").checked=false;

                     }
                     document.getElementById("SliderOrderIndex").value = response.OrderIndex
                     document.getElementById("SliderPageIndex").value = response.PageIndex
                     EditFillTypes(response.EntityTypeId,response.EntityId)
                     
                     
                $('#showEditModal').modal('show');
               

         },

         failure: function (response) {
             alert(response);
         }
     });
     }


    function ShowViewPopUp(SliderId)
             {

     $.ajax({
         type: "GET",
         url: "/CRM/Configurations/ManageSlider/Index?handler=SingleSliderForView",
         data: { "SliderId": SliderId},
         contentType: "application/json",
         dataType: "json",
         success: function (response) {
            
                     document.getElementById("DSliderPicId").src = "/"+response.Pic
                     
                     document.getElementById("DEntityTypeId").innerHTML = response.EntityTitleEn
                     document.getElementById("DPageIndexId").innerHTML = response.PageIndex
                     document.getElementById("DSortOrderId").innerHTML = response.OrderIndex
                     document.getElementById("DIsActiveId").innerHTML = response.IsActive
                     if (response.IsActive == true) {
                    document.getElementById("DIsActiveId").innerHTML = "Active"

                     }
                     else{
                          document.getElementById("DIsActiveId").innerHTML = "Not Active"
                     }

                     $('#QuickViewPoup').modal('show');

         },
         failure: function (response) {
             alert(response);
         }
     });

     }
     function deleteSlider(SliderId){


             $.ajax({
                 type: "GET",
                 url: "/CRM/Configurations/ManageSlider/Index?handler=SingleSliderForDelete",
                 data: { "SliderId": SliderId },
                 contentType: "application/json",
                 dataType: "json",
                 success: function (response) {
                     console.log("Enter Delete");
                     document.getElementById("DeleteSliderId").value = response.SliderId
                     $('#deleteRecordModal').modal('show');


                 },
                 failure: function (response) {
                     alert(response);
                 }
             });
     }
</script>
