@page
@model Vision.Areas.TemplatePages.Pages.DisplayListingModel
@{
}
@inject CRMDBContext _context
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var categoryList = _context.Categories;
    //var CitiesList = _context.AddListings.Select(a => a.City).Distinct();
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();

}
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!-- Map -->
        <div class="map-container column-map right-pos-map fix-map hid-mob-map">
            <div id="map-main">
                <div id="singleMap" style="height:90vh" class="drag-map" data-latitude="11201" data-longitude="12002"></div>

            </div>
            <ul class="mapnavigation no-list-style">
                <li><a href="#" class="prevmap-nav mapnavbtn"><span><i class="fas fa-caret-left"></i></span></a></li>
                <li><a href="#" class="nextmap-nav mapnavbtn"><span><i class="fas fa-caret-right"></i></span></a></li>
            </ul>
            <div class="scrollContorl mapnavbtn tolt" data-microtip-position="top-left" data-tooltip="Enable Scrolling"><span><i class="fal fa-unlock"></i></span></div>
            <div class="location-btn geoLocation tolt" data-microtip-position="top-left" data-tooltip="Your location"><span><i class="fal fa-location"></i></span></div>
            <div class="map-close"><i class="fas fa-times"></i></div>
        </div>
        <!-- Map end -->
        <div class="col-list-wrap novis_to-top">
            <!-- list-main-wrap-header-->
            <div class="list-main-wrap-header fl-wrap fixed-listing-header">
                <div class="container">
                    <!-- list-main-wrap-title-->
                    <div class="list-main-wrap-title">
                        <h2>Results For : <span id="SelectedCity">New York </span></h2>
                    </div>
                    <!-- list-main-wrap-title end-->
                    <!-- list-main-wrap-opt-->
                    <div class="list-main-wrap-opt">
                        <!-- price-opt-->
                        <div class="price-opt">
                            <span class="price-opt-title">@sharedResource["Sort By"]:</span>
                            <div class="listsearch-input-item">
                                <select onchange="sortItem(this.value)" data-placeholder="Popularity" class="chosen-select no-search-select">
                                    <option>@sharedResource["Popularity"]</option>
                                    @* <option value="1">Average rating</option>*@
                                    <option value="1">@sharedResource["Rating: low to high"]</option>
                                    <option value="2">@sharedResource["Rating: high to low"]</option>
                                </select>
                            </div>
                        </div>
                        <!-- price-opt end-->
                        <!-- price-opt-->
                        <div class="grid-opt">
                            <ul class="no-list-style">
                                <li class="grid-opt_act"><span class="two-col-grid act-grid-opt tolt" data-microtip-position="bottom" data-tooltip="@sharedResource["Grid View"]"><i class="fal fa-th"></i></span></li>
                                <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom" data-tooltip="@sharedResource["List View"]"><i class="fal fa-list"></i></span></li>
                            </ul>
                        </div>
                        <!-- price-opt end-->
                    </div>
                    <!-- list-main-wrap-opt end-->
                </div>
                <a class="custom-scroll-link back-to-filters clbtg" href="#lisfw"><i class="fal fa-search"></i></a>
            </div>
            <!-- list-main-wrap-header end-->
            <div class="clearfix"></div>
            <div class="container">
                <div class="mob-nav-content-btn mncb_half color2-bg show-list-wrap-search fl-wrap"><i class="fal fa-filter"></i>  @sharedResource["Filters"]</div>
                <div class="mob-nav-content-btn mncb_half color2-bg schm  fl-wrap"><i class="fal fa-map-marker-alt"></i> @sharedResource["View on map"] </div>
            </div>
            <div class="clearfix"></div>
            <!-- listsearch-input-wrap-->
            <div class="listsearch-input-wrap lws_mobile fl-wrap tabs-act" id="lisfw">
                <div class="listsearch-input-wrap_contrl fl-wrap">
                    <div class="container">
                        <ul class="tabs-menu fl-wrap no-list-style">
                            <li class="current"><a href="#filters-search"> <i class="fal fa-sliders-h"></i> @sharedResource["Filters"] </a></li>
                            <li><a href="#category-search"> <i class="fal fa-image"></i>@sharedResource["Categories"] </a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="container">
                    <!--tabs -->
                    <div class="tabs-container fl-wrap">
                        <!--tab -->

                        <div class="tab">
                            <form method="post" enctype="multipart/form-data">
                                <div id="filters-search" class="tab-content  first-tab ">
                                    <div class="fl-wrap">
                                        <div class="row">
                                            <!-- listsearch-input-item-->
                                            <div class="col-md-4">
                                                <div class="listsearch-input-item">
                                                    <span class="iconn-dec"><i class="far fa-bookmark"></i></span>
                                                    <input id="searchTargetInp" type="text" placeholder="@sharedResource["What are you looking for ?"]" asp-for="@Model.FilterModel.Target" />
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                            <!-- listsearch-input-item-->
                                            <div class="col-md-4">
                                                <div id="AllCategoriesDropMenu" class="listsearch-input-item">
                                                    <select asp-for="@Model.FilterModel.CatId data-placeholder=" Location" class="chosen-select no-search-select">
                                                        <option>@sharedResource["All Categories"]</option>
                                                        @foreach (var item in categoryList)
                                                        {

                                                            if (BrowserCulture == "en-US")
                                                            {
                                                                <option value="@item.CategoryId">@item.CategoryTitleEn</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.CategoryId">@item.CategoryTitleAr</option>

                                                            }
                                                        }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                            <!-- listsearch-input-item-->
                                            <div class="col-md-4">
                                                <div class="listsearch-input-item">
                                                    <select id="AllCitiesDropMenu" asp-for="@Model.FilterModel.City" data-placeholder="City/Location" class="chosen-select no-search-select">
                                                      <option value="All Cities">All Cities</option>
                                                       @* @foreach (var item in CitiesList)
                                                        {
                                                            <option value="@item">@item</option>

                                                        }*@


                                                    </select>
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                            <!-- listsearch-input-item-->
                                            <div class="col-md-9">
                                                <div class="listsearch-input-item location autocomplete-container">
                                                    <span class="iconn-dec"><i class="far fa-map-marker"></i></span>
                                                    <input  type="text" placeholder="@sharedResource["Where to look?"]" class="autocomplete-input" id="autocompleteid3"  />
                                                    <a href="#"><i class="fal fa-location"></i></a>
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                            <!-- listsearch-input-item-->
                                            <div class="col-md-3">
                                                <div class="listsearch-input-item">
                                                    <button type="submit" class="header-search-button color-bg"><i class="far fa-search"></i><span>@sharedResource["Search"]</span></button>
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                        </div>
                                        <!-- hidden-listing-filter -->
                                        <div class="hidden-listing-filter fl-wrap">
                                            <div class="listsearch-input-wrap-header fl-wrap"><i class="fal fa-tasks"></i>More Filters</div>
                                            <div class="fl-wrap mar-btoom">
                                                <div class="row">
                                                    <!-- listsearch-input-item-->
                                                    <div class="col-md-3">
                                                        <div class="listsearch-input-item">
                                                            <button class="toggle-filter-btn tsb_act "><i class="fal fa-clock"></i> <span>Open Now</span></button>
                                                        </div>
                                                    </div>
                                                    <!-- listsearch-input-end-->
                                                    <!-- listsearch-input-item-->
                                                    <div class="col-md-3">
                                                        <div class="listsearch-input-item clact date-container">
                                                            <span class="iconn-dec"><i class="fal fa-calendar"></i></span>
                                                            <input type="text" placeholder="Event Date" name="datepicker-here" value="" />
                                                            <span class="clear-singleinput"><i class="fal fa-times"></i></span>
                                                        </div>
                                                    </div>
                                                    <!-- listsearch-input-end-->
                                                    <!-- listsearch-input-item-->
                                                    <div class="col-md-6">
                                                        <div class="listsearch-input-item">
                                                            <div class="price-rage-wrap fl-wrap">
                                                                <div class="price-rage-wrap-title"><i class="fal fa-hand-holding-usd"></i> Price :</div>
                                                                <div class="price-rage-item fl-wrap">
                                                                    <input type="text" class="price-range" data-min="0" data-max="4" name="price-range1" data-step="1" value="$$">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- listsearch-input-end-->
                                                </div>
                                            </div>
                                            <div class="listsearch-input-wrap-header fl-wrap"><i class="fal fa-tags"></i>Facilities</div>
                                            <!-- listsearch-input-item-->
                                            <div class="listsearch-input-item">
                                                <div class=" fl-wrap filter-tags">
                                                    <ul class="no-list-style">
                                                        <li>
                                                            <input id="check-aa" type="checkbox" name="check">
                                                            <label for="check-aa">Elevator in building</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-b" type="checkbox" name="check">
                                                            <label for="check-b">Friendly workspace</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-c" type="checkbox" name="check" checked>
                                                            <label for="check-c">Instant Book</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-d" type="checkbox" name="check">
                                                            <label for="check-d">Wireless Internet</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-d2" type="checkbox" name="check" checked>
                                                            <label for="check-d2">Free WiFi</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-d3" type="checkbox" name="check" checked>
                                                            <label for="check-d3">Free Parking</label>
                                                        </li>
                                                        <li>
                                                            <input id="check-d4" type="checkbox" name="check">
                                                            <label for="check-d4">Smoking Allowed</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- listsearch-input-item end-->
                                        </div>
                                        <!-- hidden-listing-filter end -->
                                        <div class="more-filter-option-wrap">
                                            <div class="more-filter-option-btn act-hiddenpanel"><i class="far fa-plus"></i> <span>More Options</span></div>
                                            <div onclick="ResetFilterFunc()" class="clear-filter-btn color"><i class="far fa-redo"></i> Reset Filters</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--tab end-->
                        <!--tab -->
                        <div class="tab">
                            <div id="category-search" class="tab-content">
                                <!-- category-carousel-wrap -->
                                <div class="category-carousel-wrap fl-wrap">
                                    <div class="category-carousel fl-wrap full-height">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <!-- category-carousel-item -->
                                                @{
                                                    @foreach (var item in categoryList)
                                                    {
                                                        var classifiedAdsCatCount = _context.AddListings.Where(c => c.CategoryId == item.CategoryId).Count();
                                                        string countConcat = classifiedAdsCatCount.ToString() + " Listing";
                                                        <div class="swiper-slide">
                                                            <a class="category-carousel-item fl-wrap full-height " href="#">
                                                                <img src="/@item.CategoryPic" alt="">
                                                                <div class="category-carousel-item-icon red-bg"><i class="fal fa-cheeseburger"></i></div>
                                                                <div class="category-carousel-item-container">
                                                                    <div class="category-carousel-item-title">@item.CategoryTitleEn</div>
                                                                    <div class="category-carousel-item-counter">@countConcat</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }
                                                }


                                                <!-- category-carousel-item end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- category-carousel-wrap end-->
                                </div>
                                <div class="catcar-scrollbar fl-wrap">
                                    <div class="hs_init"></div>
                                    <div class="cc-contorl">
                                        <div class="cc-contrl-item cc-prev"><i class="fal fa-angle-left"></i></div>
                                        <div class="cc-contrl-item cc-next"><i class="fal fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tab end-->
                    </div>
                    <!--tabs end-->
                </div>
            </div>
            <!-- listsearch-input-wrap end-->
            <!-- listing-item-container -->
            <div class="listing-item-container init-grid-items fl-wrap">
                <div class="container">
                    <!-- listing-item  -->
                    @{

                        if (Model.AddListingList != null)
                        {

                            foreach (var item in @Model.AddListingList)
                            {
                                var user = await UserManager.FindByEmailAsync(@item.CreatedByUser);
                                //string DateFormat = @item.AddedDate.ToString("dddd, dd MMMM yyyy");
                                var MediaList = item.ListingPhotos;
                                //var ReviewCount = _context.Reviews.Where(e => e.AddListingId == item.AddListingId).Count();
                                var ReviewCount = 5;
                                //var AvgRatingList = _context.Reviews.Where(e => e.AddListingId == item.AddListingId).ToList();
                                var AvgRatingList = _context.Reviews.ToList();
                                double sum = 0;
                                var branchCount = _context.Branches.Where(a => a.AddListingId == item.AddListingId).Count();
                                foreach (var ele in AvgRatingList)
                                {
                                    sum += ele.Rating;
                                }
                                double AvgRating = 0;
                                if (sum != 0.0)
                                {
                                    AvgRating = sum / ReviewCount;
                                }
                                var addListingObj = _context.AddListings.Where(e => e.AddListingId == item.AddListingId).FirstOrDefault();
                                addListingObj.Rating = AvgRating;
                                _context.SaveChanges();
                                var OneDecimalPlaces = Math.Round(AvgRating, 1);
                                var AvgRatingValue = Math.Round(AvgRating);
                                string strCon = "";
                                string checkExte = "";
                                foreach (var ele in MediaList)
                                {

                                    strCon += "{'src':" + "'/" + ele.PhotoUrl + "'" + "},";

                                }

                                int countMediaList = MediaList.Count;
                                int count = 0;
                                int listingid = item.AddListingId;

                                var cuurentuser = await UserManager.GetUserAsync(User);
                                var favourite = _context.Favourites.Where(a => a.UserId == user.Id && a.AddListingId == listingid).FirstOrDefault(); ;
                                var iconid = "heart" + listingid.ToString();
                                // src="~/Template/images/all/1.jpg"
                                <div class="listing-item">
                                    <article class="geodir-category-listing fl-wrap">
                                        <div class="geodir-category-img">
                                            @if (favourite == null)
                                            {
                                                <div onclick="addfavourite(this.id)" id="@listingid" class="geodir-js-favorite_btn"><i id="@iconid" class="fa fa-heart"></i><span>Save</span></div>

                                            }
                                            else
                                            {
                                                <div onclick="addfavourite(this.id)" id="@listingid" class="geodir-js-favorite_btn"><i id="@iconid" style="color:red" class="fa fa-heart"></i><span>Save</span></div>
                                            }

                                            <a asp-page="ListingDetails" asp-area="TemplatePages" asp-route-id="@item.AddListingId" class="geodir-category-img-wrap fl-wrap">
                                                <img src="/@item.ListingLogo" style="height: 400px;" alt="">
                                            </a>
                                            <div class="listing-avatar">

                                                <a asp-page="UserProfileInfo" asp-route-id="@user.Id"><img src="/@user.ProfilePicture" alt=""></a>
                                                <span class="avatar-tooltip">Created By  <strong>@user.FullName</strong></span>
                                            </div>

                                            <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                            <div class="geodir-category-opt">
                                                <div class="listing-rating-count-wrap">
                                                    <div class="review-score">@OneDecimalPlaces</div>
                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="@AvgRatingValue"></div>
                                                    <br>
                                                    <div class="reviews-count">@ReviewCount reviews</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="geodir-category-content fl-wrap">
                                            <div class="geodir-category-content-title fl-wrap">
                                                <div class="geodir-category-content-title-item">
                                                    <h3 class="title-sin_map"><a asp-page="ListingDetails" asp-area="TemplatePages" asp-route-id="@item.AddListingId">@item.Title</a><span class="verified-badge"><i class="fal fa-check"></i></span></h3>
                                                    <div class="geodir-category-location fl-wrap"><a class="map-item"><i class="fas fa-map-marker-alt"></i>@* @item.City *@</a></div>
                                                </div>
                                            </div>
                                            <div class="geodir-category-text fl-wrap">
                                                <div style="height:50px">
                                                    <p class="small-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                                        <a asp-page="ListingDetails" asp-area="TemplatePages" asp-route-id="@item.AddListingId" style="text-decoration: none; color: inherit;">@item.Discription</a>
                                                    </p>
                                                </div>
                                                @*<div class="facilities-list fl-wrap">
                                                        <div class="facilities-list-title">Facilities : </div>
                                                        <ul class="no-list-style">
                                                            <li class="tolt" data-microtip-position="top" data-tooltip="Free WiFi"><i class="fal fa-wifi"></i></li>
                                                            <li class="tolt" data-microtip-position="top" data-tooltip="Parking"><i class="fal fa-parking"></i></li>
                                                            <li class="tolt" data-microtip-position="top" data-tooltip="Non-smoking Rooms"><i class="fal fa-smoking-ban"></i></li>
                                                            <li class="tolt" data-microtip-position="top" data-tooltip="Pets Friendly"><i class="fal fa-dog-leashed"></i></li>
                                                        </ul>
                                                    </div>*@
                                            </div>
                                            <div class="geodir-category-footer fl-wrap">
                                                <a class="listing-item-category-wrap">
                                                    <div class="listing-item-category red-bg"><i class="fal fa-cheeseburger"></i></div>
                                                    @if (item.Category.CategoryTitleEn != null)
                                                    {
                                                        <span>@item.Category.CategoryTitleEn</span>
                                                    }

                                                </a>
                                                <div class="geodir-opt-list">
                                                    <ul class="no-list-style">
                                                        <li><a class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact Info</span></a></li>
                                                        <li><a class="map-item"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">Branches <strong>@branchCount</strong></span> </a></li>
                                                        <li>
                                                            <div class="dynamic-gal gdop-list-link" data-dynamicPath="[@strCon]">
                                                                <i class="fal fa-search-plus"></i><span class="geodir-opt-tooltip">Gallery</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                @*<div class="price-level geodir-category_price">
                                                        <span class="price-level-item" data-pricerating="3"></span>
                                                        <span class="price-name-tooltip">@item.Rating</span>
                                                    </div>*@
                                                <div class="geodir-category_contacts">
                                                    <div class="close_gcc"><i class="fal fa-times-circle"></i></div>
                                                    <ul class="no-list-style">
                                                        <li><span><i class="fal fa-phone"></i> Call : </span><a href="#">@item.Phone1</a></li>
                                                        <li><span><i class="fal fa-phone"></i> Call : </span><a href="#">@item.Phone2</a></li>
                                                        <li><span><i class="fal fa-envelope"></i> Write : </span><a href="#">@item.Fax</a></li>
                                                        <li><span><i class="fal fa-envelope"></i> Visit : </span><a href="#">@item.Website</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        }
                    }
                    <!-- listing-item end -->
                    <div class="pagination">
                        @foreach (var item in Model.Pagenumbers)
                        {
                            var divid = item.ToString()+"id";

                            <a onclick="nextlist(this.id)" class="" id="@divid">@item</a>
                        }
                    </div>
                </div>
            </div>
            <!-- listing-item-container end -->
        </div>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>

@{

    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfsM19EfsfREOaCkPjRAVMYdTIXToo0FE&libraries=places&callback=initAutocomplete"></script>


    }
    //Arabic
    else
    {
        @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
            <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
            <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">*@
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/color.css")">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfsM19EfsfREOaCkPjRAVMYdTIXToo0FE&libraries=places&callback=initAutocomplete"></script>




    }
}
<script>
    //localStorage.setItem("pagenumber", '1');
    //document.getElementById('1').classList.add('current-page');

    function sortItem(value) {
        console.log(value);
        console.log(typeof (value));
        var myList = new Array();
        myList.push(value)
        if (myList.length > 0 || myList[0] != "0") {
            $.ajax({
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
                url: "/TemplatePages/DisplayListing?handler=SortList",
                async: false,
                data: JSON.stringify(myList),
                dataType: "json",
                contentType: "application/json; charset=utf-8",

                success: function (response) {
                    //document.getElementById("SelectedCity").value=response.
                    
                    window.location.reload();
                },
                failure: function (response) {
                    alert(response);
                }
            });

        }
        else {
            console.log("Nobody has been selected")
        }
    }




    var locatios = new Array();
    window.addEventListener('load', (event) => {
        var x = 0;
        //document.getElementById('1').classList.add('current-page');

        //if (localStorage.getItem("pagenumber") == "") {
        //    document.getElementById('1').classList.add('current-page');
        //} else
        //    document.getElementById(localStorage.getItem("pagenumber")).classList.add('current-page');


        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/TemplatePages/DisplayListing?handler=BranchesList",
            async: false,
            data: JSON.stringify(x),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (response) {
                console.log("get selected rows successfully")

                for (var i in response) {


                    var myArray = response[i].MainLocataion.split(",");
                    var latetude = Number(myArray[0]);
                    var longtude = Number(myArray[1]);


                    var title = response[i].Title;
                    var url = { Lat: latetude, Long: longtude, Title: title };
                    locatios.push(url);



                }
                initMap();
            },
            failure: function (response) {
                alert(response);
            }
        });




    });


    function initMap() {
        var myOptions = {
            zoom: 2,
            center: new google.maps.LatLng(51.9000, 8.4731),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("singleMap"), myOptions);

        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        for (i = 0; i < locatios.length; i++) {
            //size = 40;
            //var img = new google.maps.MarkerImage('/285659_marker_map_icon.png',
            //    new google.maps.Size(size, size),
            //    new google.maps.Point(0, 0),
            //    new google.maps.Point(size / 2, size / 2)
            //);

            var marker = new google.maps.Marker({
                map: map,
                title: locatios[i].Title,
                position: new google.maps.LatLng(locatios[i].Lat, locatios[i].Long)
                //,icon: img
            });

            bindInfoWindow(marker, map, infowindow, "<p>" + locatios[i].Title + "</p>", locatios[i].Title);

        }

    }

    function bindInfoWindow(marker, map, infowindow, html, Ltitle) {
        google.maps.event.addListener(marker, 'mouseover', function () {
            infowindow.setContent(html);
            infowindow.open(map, marker);

        });
        google.maps.event.addListener(marker, 'mouseout', function () {
            infowindow.close();

        });
    }
    document.getElementById('1' + "id").classList.add("current-page");

    function nextlist(item) {
        


        var num = Number(item);

        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/TemplatePages/DisplayListing?handler=PagesList",
            async: false,
            data: JSON.stringify(num),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (response) {
                sessionStorage.setItem("reloading", "true");
                sessionStorage.setItem("anchorid", item);

                location.reload();


            },
            failure: function (response) {
            }
        });
    }


    function addfavourite(listingid) {

        $.ajax({
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/TemplatePages/DisplayListing?handler=Favourite",
            async: false,
            data: JSON.stringify(listingid),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (response) {
              
                if (response == true) {
                    document.getElementById('heart' + listingid).style.color = "red";
                } else
                    document.getElementById('heart' + listingid).style.color = "white";

            },
            failure: function (response) {
            }
        });
    }
    function changestyle(hrefid) {
        console.log("item in changestyle function");
        console.log(hrefid);
        console.log(typeof (hrefid));

        document.getElementById(hrefid).classList.add("current-page");

    }
    window.onload = function () {
        var reloading = sessionStorage.getItem("reloading");
        var hrefid = sessionStorage.getItem("anchorid");
        if (reloading) {
            document.getElementById('1'+"id").classList.remove("current-page");

            sessionStorage.removeItem("reloading");
            changestyle(hrefid);
        }
    }
</script>
