@page
@model Vision.Areas.CRM.Pages.Configurations.ManageProductTemplateOption.IndexModel

@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    
    ViewBag.Title = @sharedResource["ManageProductTemplateOption"];
    ViewBag.pTitle = @sharedResource["ProductTemplateOption"];
    ViewBag.pageTitle =  @sharedResource["Options"];
}



@section styles{
    <!-- Sweet Alert css-->
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

    <div class="row">
        <div class="col-lg-12">
            <div class="card" id="leadsList">
                <div class="card-header border-0">

                    <div class="row g-4 align-items-center">
                        <div class="col-sm-3">
                            <div class="search-box">
                                <input type="text" class="form-control search"
                                   placeholder="@sharedResource["Search for..."]">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <div class="col-sm-auto ms-auto">
                            <div class="hstack gap-2">
                              
                                <button type="button" class="btn btn-success add-btn"
                                    data-bs-toggle="modal" id="create-btn"
                                    data-bs-target="#showModal">
                                    <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add Option"]
                                </button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="table-responsive table-card">
                            <table class="table align-middle" >
                                <thead class="table-light">
                                    <tr>
                                   
                                       
                                        <th class="sort" data-sort="company_name">@sharedResource["Arabic Title"]</th>
                                        <th class="sort" data-sort="leads_score">@sharedResource["English Title"]</th>
                                       
                                        <th class="sort" data-sort="action">@sharedResource["Actions"]</th>

                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @{
                                          foreach (var item in Model.AdTemplateOption)
                                    {
                                                            <tr>
                                                              
                                                               
                                                                <td class="company_name">@item.OptionAr</td>
                                                                <td class="leads_score">@item.OptionEn</td>
                                                                

                                                                <td>
                                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                                      
                                                                    
                                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="View">
                                                                         <a href="javascript:void(0)" data-bs-toggle="modal">
                                                                        <i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(@item.ProductTemplateOptionId)" ></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="Edit" >
                                                                    <a class="edit-item-btn" href="javascript:void(0)"
                                                                       data-bs-toggle="modal" >
                                                                        <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(@item.ProductTemplateOptionId)"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="Delete">
                                                                            <a class="remove-item-btn" data-bs-toggle="modal"
                                                                            href="javascript:void(0)"
                                                                       >
                                                                                <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteOption(@item.ProductTemplateOptionId)"></i>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </td> 
                                                                 

                                                            </tr>
                                    }}
                                    
                                    </tbody>
                            </table>
                           
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="showModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close" id="close-modal"></button>
                                </div>

    <form asp-area="CRM" asp-page="/Configurations/ManageProductTemplateOption/index" asp-page-handler="AddOption" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" id="id-field" />
        <div class="row g-3">
            <div class="col-lg-12">
                <div class="text-center">
                   
                </div>
                 <div class="col-lg-12">
                <div>
                    <label for="@Model.AdTemplateOptionObj.OptionAr"
                           class="form-label">@sharedResource["TlAr"]</label>
                    <input type="text" asp-for="@Model.AdTemplateOptionObj.OptionAr" 
                           class="form-control" placeholder="@sharedResource["Enter TlAr"]"
                           required />
                            <span asp-validation-for="@Model.AdTemplateOptionObj.OptionAr" class="text-danger"></span>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-12">
                <div>
                    <label for="@Model.AdTemplateOptionObj.OptionEn"
                           class="form-label">@sharedResource["TlEn"]</label>
                    <input type="text" asp-for="@Model.AdTemplateOptionObj.OptionEn" 
                           class="form-control"
                           placeholder="@sharedResource["Enter TlEn"]" required />
                           <span asp-validation-for="@Model.AdTemplateOptionObj.OptionEn" class="text-danger"></span>
                </div>
            </div>
             </div>
            <!--end col-->
              
         
              
           
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light"
                        data-bs-dismiss="modal">
                   @sharedResource["Close"] 
                </button>
                <button type="submit" class="btn btn-success"
                        id="add-btn">
                   @sharedResource["Add Option"]
                </button>
               
            </div>
        </div>
    </form>

                          </div>
                        </div>
                    </div>
                    <!--end modal-->
                    <!-- Modal -->
                    <!--end modal -->



                </div>
            </div>

        </div>
        <!--end col-->
    </div>
    <!--end row-->
<partial name="_ViewPop" model="@Model.AdTemplateOptionObj" view-data=" ViewData" />
<partial name="_EditPopup" model="@Model.AdTemplateOptionObj" view-data=" ViewData" />
<partial name="_DatchDelete" model="@Model.AdTemplateOptionObj" view-data=" ViewData" />


   @section scripts{
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- list.js min js -->
<script src="~/assets/libs/list.js/list.min.js"></script>
<script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
<!-- crm leads init -->
<script src="~/assets/js/pages/crm-leads.init.js"></script>
}
<script>
    function ShowViewPopUp(AdTemplateOptionId)
            {
                console.log("AdTemplateOptionId"+AdTemplateOptionId);
     $.ajax({
        type: "GET",
        url: "/CRM/Configurations/ManageProductTemplateOption/index?handler=SingleOptionForView",
        data: { "AdTemplateOptionId": AdTemplateOptionId},
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
            console.log(response);
                    document.getElementById("DOptionTLARId").innerHTML = response.OptionAr;
                    document.getElementById("DOptionTLENId").innerHTML = response.OptionEn;
                    
                    $('#QuickViewPoup').modal('show');

        },
        failure: function (response) {
            alert(response);
        }
    });  

    }
    function deleteOption(AdTemplateOptionId){


            $.ajax({
                type: "GET",
                url: "/CRM/Configurations/ManageProductTemplateOption/Index?handler=SingleOptionForDelete",
                data: { "AdTemplateOptionId": AdTemplateOptionId },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    document.getElementById("DeleteOptionId").value = response.ProductTemplateOptionId
                    $('#deleteRecordModal').modal('show');

                    
                },
                failure: function (response) {
                    alert(response);
                }
            });
    }
     function editButtonClick(AdTemplateOptionId) {
            
            console.log(AdTemplateOptionId);
   $.ajax({
        type: "GET",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                }
                ,
        url: "/CRM/Configurations/ManageProductTemplateOption/Index?handler=SingleOptionForEdit",
               
        data: { "AdTemplateOptionId": AdTemplateOptionId },
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
            console.log(response);
           
                    document.getElementById("OptionHiddenId").value = response.ProductTemplateOptionId
                    
                   
                    document.getElementById("OptionTLENId").value = response.OptionEn
                    document.getElementById("OptionTLARId").value = response.OptionAr
                   
               

               $('#showEditModal').modal('show');
                               

        },

        failure: function (response) {
            alert(response);
        }
    });
    }

</script>


