@{
}


@model Vision.Models.Wallet

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Wallet Details"])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                   
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>

                                <tr>
                                    <td class="fw-bold">@sharedResource["Arabic Title"]</td>
                                    <td id="TitleARId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">@sharedResource["English Title"]</td>
                                    <td id="TitleENId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">@sharedResource["Price"]</td>
                                    <td id="Priceview"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">@sharedResource["Number of Ads"]</td>
                                    <td id="NUMBEROFADS"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">@sharedResource["Sort Order"]</td>
                                    <td id="SORTORDERVIEW"></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">@sharedResource["Active"]</td>
                                    <td id="DIsActiveId"></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
