@page
@model Vision.Areas.CRM.Pages.Configurations.ManageBusinessTemplateOptions.IndexModel

@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    Layout = "_Layout";
    ViewBag.Title = @sharedResource["Manage Business Template Options"];
    ViewBag.pTitle = @sharedResource["Manage Business Template Options"];
    ViewBag.pageTitle = @sharedResource["Manage Business Template Options"];
    ViewData["Title"] = @sharedResource["Manage Business Template Options"];

}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<style>
    .dataTables_filter {
        display: none;
    }
     td {
        text-align: center !important;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">

                            <button type="button" class="btn btn-success add-btn"
                                    data-bs-toggle="modal" id="create-btn"
                                    data-bs-target="#AddModal">
                                <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add Option"]
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th data-ordering="false" style="text-align:center!important">@sharedResource["Arabic Title"]</th>
                                    <th data-ordering="false" style="text-align:center!important">@sharedResource["EnglishTitle"]</th>
                                    <th data-ordering="false" >@sharedResource["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.BusinessTemplateOptions)
                                    {
                                        <tr>
                                           
                                            <td class=" text-center fw-bold">@item.OptionAr </td>
                                            <td class="text-center fw-bold">@item.OptionEn</td>
                                            <td>
                                                <ul class="list-inline hstack gap-2 mb-0">


                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="View">
                                                        <a href="javascript:void(0)" data-bs-toggle="modal">
                                                            <i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(@item.BusinessTemplateOptionId)"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="Edit">
                                                        <a class="edit-item-btn" href="javascript:void(0)"
                                                       data-bs-toggle="modal">
                                                            <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(@item.BusinessTemplateOptionId)"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                    title="Delete">
                                                        <a class="remove-item-btn" data-bs-toggle="modal"
                                                       href="javascript:void(0)">
                                                            <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteOption(@item.BusinessTemplateOptionId)"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>                                            
                                        </tr>

                                    }
                                }
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
            <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header bg-light p-3">
                            <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Add Option"])</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                        </div>

                        <form asp-area="CRM" asp-page="/Configurations/ManageBusinessTemplateOptions/index" asp-page-handler="AddOption" asp-route-id="@Model.BusinessTemplateConfig.BusinessTemplateConfigId" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" id="id-field" />
                                <div class="row g-3">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                        </div>
                                        <div class="col-lg-12">
                                            <div>
                                                <label for="@Model.BusinessTemplateOptionObj.OptionAr"
                                                       class="form-label">@sharedResource["TlAr"]</label>
                                                <input type="text" asp-for="@Model.BusinessTemplateOptionObj.OptionAr"
                                                       class="form-control" placeholder="@sharedResource["Enter TlAr"]"
                                                       required />
                                                <span asp-validation-for="@Model.BusinessTemplateOptionObj.OptionAr" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div>
                                                <label for="@Model.BusinessTemplateOptionObj.OptionEn"
                                                       class="form-label">@sharedResource["TlEn"]</label>
                                                <input type="text" asp-for="@Model.BusinessTemplateOptionObj.OptionEn"
                                                       class="form-control"
                                                       placeholder="@sharedResource["Enter TlEn"]" required />
                                                <span asp-validation-for="@Model.BusinessTemplateOptionObj.OptionEn" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light"
                                            data-bs-dismiss="modal">
                                        @sharedResource["Close"]
                                    </button>
                                    <button type="submit" class="btn btn-success"
                                            id="add-btn">
                                        @sharedResource["Add Option"]
                                    </button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end col-->
</div>

@*<partial name="_AddPopup" model="@Model.bookMaterial" view-data="ViewData" />
<partial name="_ViewPopup" model="@Model.bookMaterial" view-data="ViewData" />
<partial name="_EditPopup" model="@Model.bookMaterial" view-data="ViewData" />
<partial name="_DatchDelete" model="@Model.bookMaterial" view-data="ViewData" />*@

<!--datatable js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<!--End datatable js-->

<script>

    $(document).ready(function () {
        var domainUrl = document.getElementById("UrlId").value;
        console.log("domainUrl: " + domainUrl);
        $('#myTable').DataTable({
            "dom": 'rt<"bottom"ip><"clear">',
            // ajax: { url: domainUrl + '/api/Lists/GetVideoMaterial' },
            //columns: [
            //    {
            //            "data": "YoutubeURL",
            //        "render": function (data, row) {
            //                //return "<embed width = '200' height = '100' src='" + data + "' />";
            //                //return "<video width='200' controls> < source src = '" + data + "' type = 'video/mp4' >< /video>"
            //                //return "<iframe width='200' height='100' src = '" + data + "'  autoplay; ></iframe>"
            //        }
            //    },

            //        { data: 'ARTitle' },
            //        { data: 'ENTitle' },
                   
            //        { data: 'videoCategory' },
            //        { data: "IsActive" },
            //    {
            //        data: "Id",
            //        render: function (data, type, row) {

            //                return '<ul class="list-inline hstack gap-2 mb-0"> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="View"><a href="javascript:void(0)" data-bs-toggle="modal"><i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(' + data + ')" ></i></a></li> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="Edit" ><a class="edit-item-btn" href="javascript:void(0)"data-bs-toggle="modal" > <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(' + data + ')"></i> </a> </li>    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"title="Delete"> <a class="remove-item-btn" data-bs-toggle="modal"href="javascript:void(0)" > <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteVideoMaterial(' + data + ')"></i> </a></li></ul>';

            //        },
            //        className: "dt-body-center"
            //    },


            //],



        });
    });
    $('#txtSearch').keyup(function () {
        var table = $('#myTable').DataTable();
        table.search($(this).val()).draw();
    });
    
    function editButtonClick(BusinessTemplateOptionId) {
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
                url: "/Admin/Configurations/ManageBusinessTemplateOptions/Index?handler=SingleOptionForEdit",

                data: { "BusinessTemplateOptionId": BusinessTemplateOptionId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                document.getElementById("HiddenId").value = response.BusinessTemplateOptionId
                document.getElementById("ArEditTitle").value = response.OptionAr
                document.getElementById("ENEditTitle").value = response.OptionEn
                $('#showEditModal').modal('show');


            },

            failure: function (response) {
                alert(response);
            }
        });
    }
    function ShowViewPopUp(BusinessTemplateOptionId) {
        $.ajax({
            type: "GET",
                url: "/Admin/Configurations/ManageBusinessTemplateOptions/Index?handler=SingleOptionForView",
                data: { "BusinessTemplateOptionId": BusinessTemplateOptionId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    document.getElementById("OpptionId").innerHTML = response.BusinessTemplateOptionId
                    document.getElementById("OptionAr").innerHTML = response.OptionAr
                    document.getElementById("OptionEn").innerHTML = response.OptionEn
                $('#QuickViewPoup').modal('show');

            },
            failure: function (response) {
                alert(response);
            }
        });

    }
    function deleteOption(BusinessTemplateOptionId) {
        $.ajax({
            type: "GET",
                url: "/Admin/Configurations/ManageBusinessTemplateOptions/Index?handler=SingleOptionForDelete",
                data: { "BusinessTemplateOptionId": BusinessTemplateOptionId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                    document.getElementById("DeleteOptionId").value = response.BusinessTemplateOptionId
                $('#deleteRecordModal').modal('show');


            },
            failure: function (response) {
                alert(response);
            }
        });
    }
</script>      