@page
@model ChangePasswordPModel
@{
    Layout = "_DashBoard";
}
<div class="col-md-9">
    <div class="dashboard-title   fl-wrap">
        <h3>@sharedResource["Change Password"]</h3>
    </div>

    <!-- profile-edit-container-->
    <div class="profile-edit-container fl-wrap block_box">
        <form method="post">
            <div asp-validation-summary="ModelOnly" style="color:red;"></div>

            <div class="custom-form form">

                <div class="pass-input-wrap fl-wrap">
                    <label class="form-control" >@sharedResource["Current Password"]</label>
                    <input asp-for="@Model.changePasswordVM.CurrentPassword" type="password" class="form-control" placeholder="@sharedResource["Enter Your Current Password"]" value="" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                  <div class="row">
                     <span asp-validation-for="@Model.changePasswordVM.CurrentPassword" style="color:red;"></span>
                 </div>
                <div class="pass-input-wrap fl-wrap">
                    <label class="form-control">@sharedResource["New Password"]</label>
                    <input asp-for="@Model.changePasswordVM.NewPassword" type="password" class="form-control" placeholder="@sharedResource["Enter New Password"]" value="" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                <div class="row">
                     <span asp-validation-for="@Model.changePasswordVM.NewPassword" style="color:red;"></span>
                 </div>

                <div class="pass-input-wrap fl-wrap">
                    <label class="form-control">@sharedResource["Confirm Password"]</label>
                    <input asp-for="@Model.changePasswordVM.ConfirmPassword" type="password" class="form-control" placeholder="@sharedResource["Enter Password Again"]" value="" />
                    <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                </div>
                <div class="row">
                     <span asp-validation-for="@Model.changePasswordVM.ConfirmPassword" style="color:red;"></span>
                 </div>

                <button class="btn    color2-bg  float-btn">@sharedResource["Change"]<i class="fal fa-save"></i></button>
            </div>
        </form>
    </div>
    <!-- profile-edit-container end-->
</div>
@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    //English
    if (BrowserCulture == "en-US")
    {
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/Template/css/color.css")">


    }
    //Arabic
    else
    {

        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/reset.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/plugins.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/dashboard-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/rtl-style.css")">
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/TemplateRTL/css/color.css")">


    }
   @section Scripts {
            <partial name="_ValidationScriptsPartial" />
   }

}

