@page
@model Vision.Pages.ClassifiedDetailsModel
@inject CRMDBContext _context
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
<script>
    const process = { env: {} };
    process.env.GOOGLE_MAPS_API_KEY =
      "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg";
</script>
<style>
    #map {
        height: 100%;
    }

</style>
@{
    var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var BrowserCulture = locale.RequestCulture.UICulture.ToString();
}
@* <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@

@*<input type="text" id="LatId" value="@Model.Lat" hidden />
<input type="text" id="LngId" value="@Model.Lng" hidden />*@
<input type="text" id="ClassifiedId" value="@Model.ClassifiedAds.ClassifiedAdId" hidden />
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <section class="listing-hero-section hidden-section" data-scrollax-parent="true" id="sec1">
            <div class="bg-parallax-wrap">
                <div  id="imgBg" class="bg par-elem " data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                @*<div class="bg par-elem" data-bg="/Images/ClassifiedAds/abeb1c53-41b8-498c-a3db-e765a027cbae_pd.png" data-scrollax="properties: { translateY: '30%' }" id="imgBg"></div>*@
                <div class="overlay"></div>
            </div>
            <div class="container">
                <div class="list-single-header-item  fl-wrap">
                    <div class="row">
                        <div class="col-md-9">
                            <h1>@Model.ClassifiedTitle <span class="verified-badge"><i class="fal fa-check"></i></span></h1>
                            @*<div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>  70 Bright St New York, USA</a> <a href="#"> <i class="fal fa-phone"></i>+38099231212</a> <a href="#"><i class="fal fa-envelope"></i> yourmail@domain.com</a></div>*@
                        </div>
                        <div class="col-md-3">
                            @* <a class="fl-wrap list-single-header-column custom-scroll-link " href="#sec5">
                                <div class="listing-rating-count-wrap single-list-count">
                                <div class="review-score">4.1</div>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                <br>
                                <div class="reviews-count">2 reviews</div>
                                </div>
                                </a>*@
                        </div>
                    </div>
                </div>
                <div class="list-single-header_bottom fl-wrap">
                    <a class="listing-item-category-wrap" href="#">
                        <div class="listing-item-category  red-bg"><i class="fal fa-cheeseburger"></i></div>
                        @{
                            if (BrowserCulture == "en-US")
                            {
                                <span>@Model.ClassifiedAds.ClassifiedAdsCategory.ClassifiedAdsCategoryTitleEn</span>

                            }
                            else
                            {
                                <span>@Model.ClassifiedAds.ClassifiedAdsCategory.ClassifiedAdsCategoryTitleAr</span>

                            }
                        }

                    </a>
                    @{
                        if (@Model.user != null)
                        {
                            <div class="list-single-author"> <a href="author-single.html"><span class="author_avatar"> <img alt='User Picture' src="/@Model.user.ProfilePicture">  </span>@Model.user.FullName</a></div>

                        }
                    }
                    @*<div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>*@
                    <div class="list-single-stats">
                        <ul class="no-list-style">
                            <li><span class="viewed-counter"><i class="fas fa-eye"></i> @sharedResource["Viewed"] -  @Model.ClassifiedAds.Views </span></li>
                            <li><span class="bookmark-counter"><i class="fas fa-heart"></i> @sharedResource["Bookmark"] -  @Model.ClassifiedFavCount </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- scroll-nav-wrapper-->
        <div class="scroll-nav-wrapper fl-wrap">
            <div class="container">
                <nav class="scroll-nav scroll-init">
                    <ul class="no-list-style">
                        <li><a class="act-scrlink" href="#sec1"><i class="fal fa-images"></i> Top</a></li>
                        <li><a href="#sec2"><i class="fal fa-info"></i>Details</a></li>
                        <li><a href="#sec3"><i class="fal fa-image"></i>Gallery</a></li>
                 @*       <li><a href="#sec4"><i class="fal fa-utensils"></i>Menu</a></li>
                        <li><a href="#sec5"><i class="fal fa-comments-alt"></i>Reviews</a></li>*@
                    </ul>
                </nav>
                <div class="scroll-nav-wrapper-opt">
                    @{
                        var cuurentuser = await UserManager.GetUserAsync(User);
                        if (cuurentuser != null)
                        {
                            var favourite = _context.FavouriteClassifieds.Where(a => a.UserId == cuurentuser.Id && a.ClassifiedAdId == @Model.ClassifiedAdId).FirstOrDefault();

                            var iconid = "heart" + @Model.ClassifiedAdId.ToString();
                                 
                                if (favourite == null)
                                {
                                    <a  class="scroll-nav-wrapper-opt-btn" onclick="addTofavourite(this.id)" id="@Model.ClassifiedAdId"> <i class="fas fa-heart" id="@iconid"></i> Save </a>

                                }
                                else
                                {
                                    <a  class="scroll-nav-wrapper-opt-btn" onclick="addTofavourite(this.id)" id="@Model.ClassifiedAdId"> <i class="fas fa-heart" id="@iconid" style="color:red"></i> Save </a>


                                }
                            
                        }
                                       
                    }
                    @*<a href="#" class="scroll-nav-wrapper-opt-btn showshare"> <i class="fas fa-share"></i> Share </a>
                    <div class="share-holder hid-share">
                        <div class="share-container  isShare"></div>
                    </div>
                    <div class="show-more-snopt"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="show-more-snopt-tooltip">
                        <a href="#"> <i class="fas fa-comment-alt"></i> Write a review</a>
                        <a href="#"> <i class="fas fa-flag-alt"></i> Report </a>
                    </div>*@
                </div>
            </div>
        </div>
        <!-- scroll-nav-wrapper end-->
        <section class="gray-bg no-top-padding">
            <div class="container">
                <div class="breadcrumbs inline-breadcrumbs fl-wrap">
                    <a asp-page="/index">Home</a><a asp-page="/ViewClassifiedAds">Classified List</a><span>Classified Details</span>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <!-- list-single-main-wrapper-col -->
                    <div class="col-md-8" id="ControlContent">
                         
                        <!-- list-single-main-wrapper -->
                        <div class="list-single-main-wrapper fl-wrap" id="sec2">
                            <div class="list-single-main-media fl-wrap">
                                <img src="images/all/1.jpg" class="respimg" alt="">
                                <a href="https://vimeo.com/70851162" class="promo-link   image-popup"><i class="fal fa-video"></i><span>Promo Video</span></a>
                            </div>
                            <!-- list-single-main-item -->
                           @* <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>Description</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <p>Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed pretium lectus viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec velit non odio aliquam suscipit. Sed non neque faucibus, condimentum lectus at, accumsan enim.   </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                    <a href="#" class="btn color2-bg    float-btn">Visit Website<i class="fal fa-chevron-left"></i></a>
                                </div>
                            </div>*@
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item -->
                            <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>Listing Features</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <div class="listing-features fl-wrap">
                                        <ul class="no-list-style">
                                            <li><a href="#"><i class="fa fa-rocket"></i> Elevator in building</a></li>
                                            <li><a href="#"><i class="fa fa-wifi"></i> Free Wi Fi</a></li>
                                            <li><a href="#"><i class="fa fa-motorcycle"></i> Free Parking</a></li>
                                            <li><a href="#"><i class="fa fa-cloud"></i> Air Conditioned</a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i> Online Ordering</a></li>
                                            <li><a href="#"><i class="fa fa-paw"></i> Pet Friendly</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            <!-- list-single-main-item-->
                            <div class="list-single-main-item fl-wrap block_box" id="sec3">
                                <div class="list-single-main-item-title">
                                    <h3>Gallery / Photos</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <div class="single-carousel-wrap fl-wrap lightgallery">
                                        <div class="sc-next sc-btn color2-bg"><i class="fas fa-caret-right"></i></div>
                                        <div class="sc-prev sc-btn color2-bg"><i class="fas fa-caret-left"></i></div>
                                        <div class="single-carousel fl-wrap full-height">
                                            <div class="swiper-container" dir="rtl">
                                                <div class="swiper-wrapper">
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="images/all/1.jpg" alt="">
                                                            <a href="images/all/1.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                   
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                            @* <!-- list-single-facts -->
                                <div class="list-single-facts fl-wrap">
                                <div class="row">
                                <div class="col-md-4">
                                <!-- inline-facts -->
                                <div class="inline-facts-wrap gradient-bg ">
                                <div class="inline-facts">
                                <i class="fal fa-smile-plus"></i>
                                <div class="milestone-counter">
                                <div class="stats animaper">
                                <div class="num" data-content="0" data-num="245">0</div>
                                </div>
                                </div>
                                <h6>New Visiters Every Week</h6>
                                </div>
                                <div class="stat-wave">
                                <svg viewbox="0 0 100 25">
                                <path fill="#fff" d="M0 30 V12 Q30 17 55 2 T100 11 V30z" />
                                </svg>
                                </div>
                                </div>
                                <!-- inline-facts end -->
                                </div>
                                <div class="col-md-4">
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap gradient-bg ">
                                <div class="inline-facts">
                                <i class="fal fa-users"></i>
                                <div class="milestone-counter">
                                <div class="stats animaper">
                                <div class="num" data-content="0" data-num="2557">0</div>
                                </div>
                                </div>
                                <h6>Happy customers every year</h6>
                                </div>
                                <div class="stat-wave">
                                <svg viewbox="0 0 100 25">
                                <path fill="#fff" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
                                </svg>
                                </div>
                                </div>
                                <!-- inline-facts end -->
                                </div>
                                <div class="col-md-4">
                                <!-- inline-facts  -->
                                <div class="inline-facts-wrap gradient-bg ">
                                <div class="inline-facts">
                                <i class="fal fa-award"></i>
                                <div class="milestone-counter">
                                <div class="stats animaper">
                                <div class="num" data-content="0" data-num="25">0</div>
                                </div>
                                </div>
                                <h6>Won Awards</h6>
                                </div>
                                <div class="stat-wave">
                                <svg viewbox="0 0 100 25">
                                <path fill="#fff" d="M0 30 V12 Q30 12 55 5 T100 11 V30z" />
                                </svg>
                                </div>
                                </div>
                                <!-- inline-facts end -->
                                </div>
                                </div>
                                </div>
                                <!-- list-single-facts end -->  *@
                            @*<!-- list-single-main-item-->
                                <div class="list-single-main-item fl-wrap block_box" id="sec4">
                                <div class="list-single-main-item-title">
                                <h3>Restaurant Menu</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                <div class="menu-filters">
                                <a href="#" class="gallery-filter  menu-filters-active" data-filter="*">All</a>
                                <a href="#" class="gallery-filter" data-filter=".main">Main</a>
                                <a href="#" class="gallery-filter" data-filter=".dessert">Dessert</a>
                                <a href="#" class="gallery-filter" data-filter=".lunch">Lunch</a>
                                </div>
                                <div class="restor-menu-widget fl-wrap">
                                <!--restmenu-item-->
                                <div class="restmenu-item main">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>Calabrian Black Sausage</h4>
                                <div class="restmenu-item-det-price">$28.00</div>
                                </div>
                                <p>Netus et malesuada fames ac turpis egestas.</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                <!--restmenu-item-->
                                <div class="restmenu-item dessert">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>Grilled Filet of Cod</h4>
                                <div class="restmenu-item-det-price">$38.10</div>
                                </div>
                                <p>Aliquam at vestibulum urna, vitae tincidunt</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                <!--restmenu-item-->
                                <div class="restmenu-item main">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>Saute Filet of Seabass</h4>
                                <div class="restmenu-item-det-price">$12.70</div>
                                </div>
                                <p>Fusce vitae dui iaculis leo porta ultrices.</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                <!--restmenu-item-->
                                <div class="restmenu-item main lunch">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>Saute Crispy Goats</h4>
                                <div class="restmenu-item-det-price">$8.00</div>
                                </div>
                                <p>Etiam fermentum justo nec auctor pretium.</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                <!--restmenu-item-->
                                <div class="restmenu-item lunch">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>La Fromagerie</h4>
                                <div class="restmenu-item-det-price">$18.20</div>
                                </div>
                                <p>Pellentesque placerat turpis turpis eget.</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                <!--restmenu-item-->
                                <div class="restmenu-item dessert">
                                <a href="images/all/menu/1.jpg" class="restmenu-item-img image-popup">
                                <img src="images/all/menu/1.jpg" alt="">
                                </a>
                                <div class="restmenu-item-det">
                                <div class="restmenu-item-det-header fl-wrap">
                                <h4>Warm Chocolate Pudding</h4>
                                <div class="restmenu-item-det-price">$9.30</div>
                                </div>
                                <p>Pellentesque habitant morbi tristique.</p>
                                </div>
                                </div>
                                <!--restmenu-item end-->
                                </div>
                                <a href="#" class="btn color2-bg   float-btn">Download PDF<i class="fal fa-file-pdf"></i></a>
                                </div>
                                </div>
                                <!-- list-single-main-item end -->
                                <!-- list-single-main-item -->
                                <div class="list-single-main-item fl-wrap block_box" id="sec5">
                                <div class="list-single-main-item-title">
                                <h3>Item Reviews -  <span> 2 </span></h3>
                                </div>
                                <!--reviews-score-wrap-->
                                <div class="reviews-score-wrap fl-wrap">
                                <div class="review-score-total">
                                <span class="review-score-total-item">
                                4.1
                                </span>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                </div>
                                <div class="review-score-detail">
                                <!-- review-score-detail-list-->
                                <div class="review-score-detail-list">
                                <!-- rate item-->
                                <div class="rate-item">
                                <div class="rate-item-title"><span>Quality</span></div>
                                <div class="rate-item-bg" data-percent="100%">
                                <div class="rate-item-line gradient-bg"></div>
                                </div>
                                <div class="rate-item-percent">5.0</div>
                                </div>
                                <!-- rate item end-->
                                <!-- rate item-->
                                <div class="rate-item">
                                <div class="rate-item-title"><span>Location</span></div>
                                <div class="rate-item-bg" data-percent="90%">
                                <div class="rate-item-line gradient-bg"></div>
                                </div>
                                <div class="rate-item-percent">4.0</div>
                                </div>
                                <!-- rate item end-->
                                <!-- rate item-->
                                <div class="rate-item">
                                <div class="rate-item-title"><span>Price</span></div>
                                <div class="rate-item-bg" data-percent="60%">
                                <div class="rate-item-line gradient-bg"></div>
                                </div>
                                <div class="rate-item-percent">3.0</div>
                                </div>
                                <!-- rate item end-->
                                <!-- rate item-->
                                <div class="rate-item">
                                <div class="rate-item-title"><span>Service</span></div>
                                <div class="rate-item-bg" data-percent="80%">
                                <div class="rate-item-line gradient-bg"></div>
                                </div>
                                <div class="rate-item-percent">4.0</div>
                                </div>
                                <!-- rate item end-->
                                </div>
                                <!-- review-score-detail-list end-->
                                </div>
                                </div>
                                <!-- reviews-score-wrap end -->
                                <div class="list-single-main-item_content fl-wrap">
                                <div class="reviews-comments-wrap">
                                <!-- reviews-comments-item -->
                                <div class="reviews-comments-item">
                                <div class="review-comments-avatar">
                                <img src="images/avatar/1.jpg" alt="">
                                </div>
                                <div class="reviews-comments-item-text fl-wrap">
                                <div class="reviews-comments-header fl-wrap">
                                <h4><a href="#">Liza Rose</a></h4>
                                <div class="review-score-user">
                                <span class="review-score-user_item">4.2</span>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                </div>
                                </div>
                                <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
                                <div class="reviews-comments-item-footer fl-wrap">
                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April 2018</span></div>
                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>2</span> </a>
                                </div>
                                </div>
                                </div>
                                <!--reviews-comments-item end-->
                                <!-- reviews-comments-item -->
                                <div class="reviews-comments-item">
                                <div class="review-comments-avatar">
                                <img src="images/avatar/1.jpg" alt="">
                                </div>
                                <div class="reviews-comments-item-text fl-wrap">
                                <div class="reviews-comments-header fl-wrap">
                                <h4><a href="#">Adam Koncy</a></h4>
                                <div class="review-score-user">
                                <span class="review-score-user_item">5.0</span>
                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                </div>
                                </div>
                                <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere convallis purus non cursus. Cras metus neque, gravida sodales massa ut. "</p>
                                <div class="review-images ">
                                <a href="images/all/1.jpg" class="image-popup"><img src="images/all/1.jpg" alt=""></a>
                                <a href="images/all/1.jpg" class="image-popup"><img src="images/all/1.jpg" alt=""></a>
                                </div>
                                <div class="reviews-comments-item-footer fl-wrap">
                                <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>03 December 2017</span></div>
                                <a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>4</span> </a>
                                </div>
                                </div>
                                </div>
                                <!--reviews-comments-item end-->
                                </div>
                                </div>
                                </div>
                                <!-- list-single-main-item end -->    *@
                            @*         <!-- list-single-main-item -->
                                <div class="list-single-main-item fl-wrap block_box" id="sec6">
                                <div class="list-single-main-item-title fl-wrap">
                                <h3>Add Review</h3>
                                </div>
                                <!-- Add Review Box -->
                                <div id="add-review" class="add-review-box">
                                <!-- Review Comment -->
                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc" >
                                <fieldset>
                                <div class="review-score-form fl-wrap">
                                <div class="review-range-container">
                                <!-- review-range-item-->
                                <div class="review-range-item">
                                <div class="range-slider-title">Cleanliness</div>
                                <div class="range-slider-wrap ">
                                <input type="text" class="rate-range" data-min="0" data-max="5"  name="rgcl"  data-step="1" value="4">
                                </div>
                                </div>
                                <!-- review-range-item end -->
                                <!-- review-range-item-->
                                <div class="review-range-item">
                                <div class="range-slider-title">Comfort</div>
                                <div class="range-slider-wrap ">
                                <input type="text" class="rate-range" data-min="0" data-max="5"  name="rgcl"  data-step="1"  value="1">
                                </div>
                                </div>
                                <!-- review-range-item end -->
                                <!-- review-range-item-->
                                <div class="review-range-item">
                                <div class="range-slider-title">Staf</div>
                                <div class="range-slider-wrap ">
                                <input type="text" class="rate-range" data-min="0" data-max="5"  name="rgcl"  data-step="1" value="5" >
                                </div>
                                </div>
                                <!-- review-range-item end -->
                                <!-- review-range-item-->
                                <div class="review-range-item">
                                <div class="range-slider-title">Facilities</div>
                                <div class="range-slider-wrap">
                                <input type="text" class="rate-range" data-min="0" data-max="5"  name="rgcl"  data-step="1" value="3">
                                </div>
                                </div>
                                <!-- review-range-item end -->
                                </div>
                                <div class="review-total">
                                <span><input type="text" name="rg_total"   data-form="AVG({rgcl})" value="0"></span>
                                <strong>Your Score</strong>
                                </div>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                <div class="row">
                                <div class="col-md-6">
                                <label><i class="fal fa-user"></i></label>
                                <input type="text" placeholder="Your Name *" value=""/>
                                </div>
                                <div class="col-md-6">
                                <label><i class="fal fa-envelope"></i>  </label>
                                <input type="text" placeholder="Email Address*" value=""/>
                                </div>
                                </div>
                                <textarea cols="40" rows="3" placeholder="Your Review:"></textarea>
                                <div class="clearfix"></div>
                                <div class="listsearch-input-item fl-wrap">
                                <div class="fuzone">
                                <form>
                                <div class="fu-text">
                                <span><i class="fal fa-images"></i> Click here or drop files to upload</span>
                                <div class="photoUpload-files fl-wrap"></div>
                                </div>
                                <input type="file" class="upload" multiple>
                                </form>
                                </div>
                                </div>
                                <div class="clearfix"></div>
                                <button class="btn  color2-bg  float-btn">Submit Review <i class="fal fa-paper-plane"></i></button>
                                </div>
                                </fieldset>
                                </form>
                                </div>
                                <!-- Add Review Box / End -->
                                </div>
                                <!-- list-single-main-item end --> *@
                        </div>
                    </div>
                    <!-- list-single-main-wrapper-col end -->
                    <!-- list-single-sidebar -->
                    <div class="col-md-4">
                       @* <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3>Working Hours</h3>
                            </div>
                            <div class="box-widget opening-hours fl-wrap">
                                <div class="box-widget-content">
                                    <ul class="no-list-style">
                                        <li class="mon"><span class="opening-hours-day">Monday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                        <li class="tue"><span class="opening-hours-day">Tuesday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                        <li class="wed"><span class="opening-hours-day">Wednesday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                        <li class="thu"><span class="opening-hours-day">Thursday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                        <li class="fri"><span class="opening-hours-day">Friday </span><span class="opening-hours-time">9 AM - 5 PM</span></li>
                                        <li class="sat"><span class="opening-hours-day">Saturday </span><span class="opening-hours-time">9 AM - 3 PM</span></li>
                                        <li class="sun"><span class="opening-hours-day">Sunday </span><span class="opening-hours-time">Closed</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->*@
                        @*  <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                            <h3>Book a Table</h3>
                            </div>
                            <div class="box-widget">
                            <div class="box-widget-content">
                            <form   class="add-comment custom-form">
                            <fieldset>
                            <label><i class="fal fa-user"></i></label>
                            <input type="text" placeholder="Your Name *" value=""/>
                            <div class="clearfix"></div>
                            <label><i class="fal fa-envelope"></i>  </label>
                            <input type="text" placeholder="Email Address*" value=""/>
                            <div class="quantity fl-wrap">
                            <span><i class="fal fa-user-plus"></i>Persons : </span>
                            <div class="quantity-item">
                            <input type="button" value="-" class="minus">
                            <input type="text"    name="quantity"   title="Qty" class="qty color-bg" data-min="1" data-max="3" data-step="1" value="1">
                            <input type="button" value="+" class="plus">
                            </div>
                            </div>
                            <div class="listsearch-input-item clact date-container2">
                            <label><i class="fal fa-calendar"></i></label>
                            <input type="text" placeholder="Date / Time"     name="datepicker-here-time"   value=""/>
                            <span class="clear-singleinput"><i class="fal fa-times"></i></span>
                            </div>
                            <textarea cols="40" rows="3" placeholder="Additional Information:"></textarea>
                            </fieldset>
                            <button class="btn color2-bg url_btn float-btn" onclick="window.location.href='booking.html'">Book Table Now <i class="fal fa-bookmark"></i></button>
                            </form>
                            </div>
                            </div>
                            </div>
                            <!--box-widget-item end --> *@
                        @*@{
                            if (@Model.Lat != null && @Model.Lng != null)
                            {
                                <!--box-widget-item -->
                                <div class="box-widget-item fl-wrap block_box">
                                    <div class="box-widget-item-header">
                                        <h3>Location  </h3>
                                    </div>
                                    <div class="box-widget">

                                        <div class="map-container">
                                            <div id="map" style="height:400px;"></div>
                                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfsM19EfsfREOaCkPjRAVMYdTIXToo0FE&callback=initMap&v=weekly" defer></script>

                                        </div>*@
                                        @*  <div class="box-widget-content bwc-nopad">
                                            <div class="list-author-widget-contacts list-item-widget-contacts bwc-padside">
                                            <ul class="no-list-style">
                                            <li><span><i class="fal fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>
                                            <li><span><i class="fal fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
                                            <li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="#">AlisaNoory@domain.com</a></li>
                                            <li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">themeforest.net</a></li>
                                            </ul>
                                            </div>
                                            <div class="list-widget-social bottom-bcw-box  fl-wrap">
                                            <ul class="no-list-style">
                                            <li><a href="#" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank" ><i class="fab fa-vk"></i></a></li>
                                            <li><a href="#" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                                            </ul>
                                            <div class="bottom-bcw-box_link"><a href="#" class="show-single-contactform tolt" data-microtip-position="top" data-tooltip="Write Message"><i class="fal fa-envelope"></i></a></div>
                                            </div>
                                            </div>*@
                            @*        </div>
                                </div>
                                <!--box-widget-item end -->
                            }
                        }*@
                        <div class="box-widget-item fl-wrap block_box" id="NewMap">
                        </div>
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3> @sharedResource["Price :"]  </h3>
                            </div>
                            <div class="box-widget">
                                <div class="box-widget-content">
                                    <div class="claim-price-wdget fl-wrap">
                                        <div class="claim-price-wdget-content fl-wrap">
                                            <div class="pricerange fl-wrap"><span>@sharedResource["Price :"] </span> @Model.Price </div>
                                            @*<div class="claim-widget-link fl-wrap"><span>Own or work here?</span><a href="#">Claim Now!</a></div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <!--box-widget-item end -->                                           <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                            <h3> Instagram  </h3>
                            </div>
                            <div class="box-widget">
                            <div class="box-widget-content">
                            <div class='jr-insta-thumb' id="insta-content" data-instatoken="3075034521.5d9aa6a.284ff8339f694dbfac8f265bf3e93c8a"></div>
                            </div>
                            </div>
                            </div>
                            <!--box-widget-item end -->  *@
                        <!--box-widget-item -->
                        @{
                            if (@Model.user != null)
                            {
                                <div class="box-widget-item fl-wrap block_box">
                                    <div class="box-widget-item-header">
                                        <h3> @sharedResource["Added by :"] </h3>
                                    </div>
                                    <div class="box-widget">
                                        <div class="box-widget-author fl-wrap">
                                            <div class="box-widget-author-title">
                                                <div class="box-widget-author-title-img">
                                                    <img src="/@Model.user.ProfilePicture" alt="">
                                                </div>
                                                <div class="box-widget-author-title_content">
                                                    <a href="user-single.html">@Model.user.FullName</a>
                                                    <span>@Model.ClassifiedCountByUser Classiffied</span>
                                                </div>
                                                <div class="box-widget-author-title_opt">
                                                    <a href="user-single.html" class="tolt green-bg" data-microtip-position="top" data-tooltip="View Profile"><i class="fas fa-user"></i></a>
                                                    @*<a href="#" class="tolt color-bg cwb" data-microtip-position="top" data-tooltip="Chat With Owner"><i class="fas fa-comments-alt"></i></a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--box-widget-item end -->
                            }
                        }


                        @* <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                            <h3>Similar listings :</h3>
                            </div>
                            <div class="box-widget  fl-wrap">
                            <div class="box-widget-content">
                            <!--widget-posts-->
                            <div class="widget-posts  fl-wrap">
                            <ul class="no-list-style">
                            <li>
                            <div class="widget-posts-img"><a href="listing-single.html"><img src="images/gallery/thumbnail/1.png" alt=""></a>
                            </div>
                            <div class="widget-posts-descr">
                            <h4><a href="listing-single.html">Iconic Cafe</a></h4>
                            <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 40 Journal Square Plaza, NJ, USA</a></div>
                            <div class="widget-posts-descr-link"><a href="listing.html" >Restaurants </a>   <a href="listing.html">Cafe</a></div>
                            <div class="widget-posts-descr-score">4.1</div>
                            </div>
                            </li>
                            <li>
                            <div class="widget-posts-img"><a href="listing-single.html"><img src="images/gallery/thumbnail/1.png" alt=""></a>
                            </div>
                            <div class="widget-posts-descr">
                            <h4><a href="listing-single.html">MontePlaza Hotel</a></h4>
                            <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 70 Bright St New York, USA </a></div>
                            <div class="widget-posts-descr-link"><a href="listing.html" >Hotels </a>  </div>
                            <div class="widget-posts-descr-score">5.0</div>
                            </div>
                            </li>
                            <li>
                            <div class="widget-posts-img"><a href="listing-single.html"><img src="images/gallery/thumbnail/1.png" alt=""></a>
                            </div>
                            <div class="widget-posts-descr">
                            <h4><a href="listing-single.html">Rocko Band in Marquee Club</a></h4>
                            <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>75 Prince St, NY, USA</a></div>
                            <div class="widget-posts-descr-link"><a href="listing.html" >Events</a> </div>
                            <div class="widget-posts-descr-score">4.2</div>
                            </div>
                            </li>
                            <li>
                            <div class="widget-posts-img"><a href="listing-single.html"><img src="images/gallery/thumbnail/1.png" alt=""></a>
                            </div>
                            <div class="widget-posts-descr">
                            <h4><a href="listing-single.html">Premium Fitness Gym</a></h4>
                            <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> W 85th St, New York, USA</a></div>
                            <div class="widget-posts-descr-link"><a href="listing.html" >Fitness</a> <a href="listing.html" >Gym</a> </div>
                            <div class="widget-posts-descr-score">5.0</div>
                            </div>
                            </li>
                            </ul>
                            </div>
                            <!-- widget-posts end-->
                            </div>
                            </div>
                            </div>
                            <!--box-widget-item end -->   *@
                        @* <!--box-widget-item -->
                            <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                            <h3>Tags</h3>
                            </div>
                            <div class="box-widget opening-hours fl-wrap">
                            <div class="box-widget-content">
                            <div class="list-single-tags tags-stylwrap">
                            <a href="#">Hotel</a>
                            <a href="#">Hostel</a>
                            <a href="#">Room</a>
                            <a href="#">Spa</a>
                            <a href="#">Restourant</a>
                            <a href="#">Parking</a>
                            </div>
                            </div>
                            </div>
                            </div>
                            <!--box-widget-item end --> *@
                    </div>
                    <!-- list-single-sidebar end -->
                </div>
            </div>
        </section>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>

<script>
             function initMap() {
       
         var mainLocation=document.getElementById("LatId").value;
         const myArray = mainLocation.split(",");
          var latOb=myArray[0];
          var NlatOb=Number(latOb)
          console.log("latOb = "+typeof(NlatOb));
          var lngOb=myArray[1];
          var NlngOb=Number(lngOb)
         console.log("lngOb = "+lngOb);
        var myLatlng = { lat:NlatOb,lng:NlngOb };

        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: myLatlng,
        });

        var infoWindow = new google.maps.InfoWindow({
            content: "Select Location",
            position: myLatlng,
        });

        infoWindow.open(map);
 
            var MarkerObj={lat: NlatOb, lng: NlngOb};
            var marker = new google.maps.Marker({
                position: MarkerObj,
                map: map
            });
          
            infoWindow.open(map, marker);
            infoWindow.close();
        infoWindow = new google.maps.InfoWindow({
                position: myLatlng,
            });
          
        
    }
    window.initMap = initMap;
  

         window.addEventListener('DOMContentLoaded', (event) => {
             var ClassifiedId=document.getElementById("ClassifiedId").value;
           console.log("Enter Next");
           var num = Number(ClassifiedId);

           $.ajax({
               type: "POST",
               beforeSend: function (xhr) {
                   xhr.setRequestHeader("XSRF-TOKEN",
                       $('input:hidden[name="__RequestVerificationToken"]').val());
               }
               ,
               url: "/ClassifiedDetails?handler=ClassifiedDetails",
               async: false,
               data: JSON.stringify(num),
               dataType: "json",
               contentType: "application/json; charset=utf-8",

               success: function (response) {
                  var ImageFlag=false;
                  var ImageAdTemplateFieldCaptionEn="";
                  var ImageAdTemplateFieldCaptionAr="";
                  
                  var imageArray=[];
                  var VideoFlag=false;
                  var VideoAdTemplateFieldCaptionEn="";
                  var VideoAdTemplateFieldCaptionAr="";
                  
                  var VideoArray=[];
                   console.log(response);
                    for(let i=0;i<response.AdContents["$values"].length;i++)
                    {//response.AdContents["$values"][i].FieldTypeId==1||response.AdContents["$values"][i].FieldTypeId==2||
                         
                        //     if(response.AdContents["$values"][i].FieldTypeId==1)
                        //{
                        // DrawV(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue,response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        
                        //}
                             if(response.AdContents["$values"][i].FieldTypeId==3||response.AdContents["$values"][i].FieldTypeId==7||response.AdContents["$values"][i].FieldTypeId==5||response.AdContents["$values"][i].FieldTypeId==13)
                        {
                         DrawToAssignLockValue(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue,response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        
                        }
                             if(response.AdContents["$values"][i].FieldTypeId==8)
                        {
                         DrawMainImage(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue,response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        
                        }
                             if(response.AdContents["$values"][i].FieldTypeId==9)
                        {
                           ImageFlag=true;
                           ImageAdTemplateFieldCaptionEn=response.AdContents["$values"][i].AdTemplateFieldCaptionEn
                           ImageAdTemplateFieldCaptionAr=response.AdContents["$values"][i].AdTemplateFieldCaptionAr
                           imageArray.push(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue)
                        // DrawGalary(response.AdContents["$values"][i].AdContentValues["$values"],response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                         console.log(response.AdContents["$values"][i])
                        }
                             if(response.AdContents["$values"][i].FieldTypeId==10)
                        {
                         DrawPromoVedio(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue,response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        
                        }
                              if(response.AdContents["$values"][i].FieldTypeId==14)
                        {
                         DrawMap(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue,response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        
                        }
                       if(response.AdContents["$values"][i].FieldTypeId==6)
                        {
                         DrawCheckBoxGroup(response.AdContents["$values"][i].AdContentValues["$values"],response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        }
                             if(response.AdContents["$values"][i].FieldTypeId==11)
                        {
                            VideoFlag=true;
                           VideoAdTemplateFieldCaptionEn=response.AdContents["$values"][i].AdTemplateFieldCaptionEn
                           VideoAdTemplateFieldCaptionAr=response.AdContents["$values"][i].AdTemplateFieldCaptionAr
                           VideoArray.push(response.AdContents["$values"][i].AdContentValues["$values"][0].ContentValue)
                   
                         //DrawVedioGalary(response.AdContents["$values"][i].AdContentValues["$values"],response.AdContents["$values"][i].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdTemplateFieldCaptionAr);
                        }
                         //console.log(response.AdContents["$values"][i].AdContentId)
                      //   for(let j=0;j<response.AdContents["$values"][i].AdContentValues["$values"].length;j++)
                    //{
                    //    if(response.AdContents["$values"][i].AdContentValues["$values"][j].FieldTypeId==3)
                    //    {
                    //     DrawToAssignLockValue(response.AdContents["$values"][i].AdContentValues["$values"][j].ContentValue,response.AdContents["$values"][i].AdContentValues["$values"][j].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdContentValues["$values"][j].AdTemplateFieldCaptionAr);
                        
                    //    }
                    //    if(response.AdContents["$values"][i].AdContentValues["$values"][j].FieldTypeId==9)
                    //    {
                    //     DrawGalary(response.AdContents["$values"][i].AdContentValues["$values"][j].ContentValue,response.AdContents["$values"][i].AdContentValues["$values"][j].AdTemplateFieldCaptionEn,response.AdContents["$values"][i].AdContentValues["$values"][j].AdTemplateFieldCaptionAr);
                        
                    //    }
                    //     console.log(response.AdContents["$values"][i].AdContentValues["$values"])
                    //}
                    }
                    if(imageArray.length!=0&&ImageFlag==true){
                    DrawGalary(imageArray,ImageAdTemplateFieldCaptionEn,ImageAdTemplateFieldCaptionAr);

                    }
                    if(VideoArray.length!=0&&VideoFlag==true){
                    DrawVedioGalary(VideoArray,VideoAdTemplateFieldCaptionEn,VideoAdTemplateFieldCaptionAr);

                    }

               },
               failure: function (response) {
               }
           });
             });
             
             
             var content = document.getElementById("ControlContent");
            ControlContent.innerHTML = "";
       
    function DrawToAssignLockValue(ContentValue,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {

                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                 
                ControlContent.innerHTML += ' <div class="list-single-main-item fl-wrap block_box"><div class="list-single-main-item-title"><h3>'+labelName+'</h3></div><div class="list-single-main-item_content fl-wrap"> <p>'+ContentValue+' </p> </div></div>';
            }
             function DrawV(ContentValue,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {

                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                 
                ControlContent.innerHTML += '<div id="carouselVideoExample" class="carousel slide carousel-fade" data-mdb-ride="carousel"><div class="carousel-indicators"><button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button><button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="1" aria-label="Slide 2"></button><button type="button" data-mdb-target="#carouselVideoExample" data-mdb-slide-to="2" aria-label="Slide 3" ></button></div><div class="carousel-inner"><div class="carousel-item active"><video class="img-fluid" autoplay loop muted> <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" /></video><div class="carousel-caption d-none d-md-block"><h5>First slide label</h5><p> Nulla vitae elit libero, a pharetra augue mollis interdum. </p></div></div> <div class="carousel-item"><video class="img-fluid" autoplay loop muted> <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" /></video><div class="carousel-caption d-none d-md-block"><h5>Second slide label</h5><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div></div><div class="carousel-item"><video class="img-fluid" autoplay loop muted><source src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"type="video/mp4"/> </video><div class="carousel-caption d-none d-md-block"> <h5>Third slide label</h5> <p> Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p></div> </div> </div><button class="carousel-control-prev"type="button" data-mdb-target="#carouselVideoExample"data-mdb-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></button><button class="carousel-control-next"type="button"data-mdb-target="#carouselVideoExample"data-mdb-slide="next" ><span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span> </button></div>';
            }
            
           function DrawMap(ContentValue,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {

                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                  var script = document.createElement('script');
               script.src ='https://maps.googleapis.com/maps/api/js?key=AIzaSyCfsM19EfsfREOaCkPjRAVMYdTIXToo0FE&callback=initMap&v=weekly';

               var Mapcontent = document.getElementById("NewMap");
               Mapcontent.innerHTML = "";
               //ControlContent.innerHTML += '<div class="dashboard-title  dt-inbox fl-wrap"><h3>'+ labelName+'</h3> </div><div class="profile-edit-container fl-wrap block_box"><div class="custom-form"><div class="row"><div ><input  type="text" id="LatId" value='+ContentValue+'  hidden /> </div></div><div class="map-container"><div id="map" style="height:400px;"></div> </div> </div> </div>';
               Mapcontent.innerHTML += '<div class="box-widget-item-header"><h3> '+ labelName+' </h3></div><div class="profile-edit-container fl-wrap block_box"><div class="custom-form"><div class="row"><div ><input  type="text" id="LatId" value='+ContentValue+'  hidden /> </div></div><div class="map-container"><div id="map" style="height:400px;"></div> </div> </div> </div>';
               Mapcontent.appendChild(script);
               //ControlContent.appendChild(script);

                 
                //ControlContent.innerHTML += ' <div class="list-single-main-item fl-wrap block_box"><div class="list-single-main-item-title"><h3>'+labelName+'</h3></div><div class="list-single-main-item_content fl-wrap"> <p>'+ContentValue+' </p> </div></div>';
            }
    
               
               function DrawPromoVedio(ContentValue,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {

                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                    
                  var customDiv = document.createElement('div');
                 customDiv.classList.add("list-single-main-item");
                 customDiv.classList.add("fl-wrap");
                 customDiv.classList.add("block_box");
                 customDiv.setAttribute('id','sec3');
                 var div = document.createElement('div');
                 div.classList.add("list-single-main-item-title");
                 var header = document.createElement('h3');
                 if(localStorage.getItem("lang")=="en")
                 {
                     header.innerHTML  = AdTemplateFieldCaptionEn;
                 }else{
                      header.innerHTML  = AdTemplateFieldCaptionAr;
                     
                 }
                 div.appendChild(header);
                 customDiv.appendChild(div);
                   div.appendChild(header);
                 customDiv.appendChild(div);
                 var Parentdiv = document.createElement('div');
                 Parentdiv.classList.add("list-single-main-item_content");
                 Parentdiv.classList.add("fl-wrap");
                 var newdiv = document.createElement('div');
                 newdiv.classList.add("iframe-holder");
                 newdiv.classList.add("fl-wrap");
                  var respvideoDiv = document.createElement('div');
                   respvideoDiv.classList.add("resp-video");
                  // var ifrm = document.createElement("iframe");

                   //ifrm.setAttribute("src", "/"+ContentValue);
                   //ifrm.style.width = "640px";
                   //ifrm.style.height = "360px";
                   //respvideoDiv.appendChild(ifrm);
                   var video = document.createElement('video');
                   
                   //video.src ='/images/ClassifiedAds/ve.mp4';
                    video.src ="/"+ContentValue;
                    video.autoplay = false;
                    video.controls = true;
                    video.muted = true;
                    video.height = 100; // in px
                    video.width = 100; // in px
                    respvideoDiv.appendChild(video);
                newdiv.appendChild(respvideoDiv);
                Parentdiv.appendChild(newdiv);
                customDiv.appendChild(Parentdiv);
                 ControlContent.appendChild(customDiv);
                 
               // ControlContent.innerHTML += ' <div class="list-single-main-item fl-wrap block_box" id="sec3"><div class="list-single-main-item-title"> <h3>'+labelName+'</h3> </div><div class="list-single-main-item_content fl-wrap"> <div class="iframe-holder fl-wrap"><div class="resp-video"><iframe src="@Url.Content("/"+"`+ContentValue+`")?autoplay=0&loop=1&autopause=1" allow="autoplay;" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </div> </div></div></div>';
            }
    
            function DrawGalary(AdContentValues,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {
                    console.log("Entered Galary Length Image");
                    console.log(AdContentValues.length);
                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                 
                 
                  var customDiv = document.createElement('div');
                 customDiv.classList.add("list-single-main-item");
                 customDiv.classList.add("fl-wrap");
                 customDiv.classList.add("block_box");
                 customDiv.setAttribute('id','sec3');
                 var div = document.createElement('div');
                 div.classList.add("list-single-main-item-title");
                 var header = document.createElement('h3');
                 if(localStorage.getItem("lang")=="en")
                 {
                     header.innerHTML  = AdTemplateFieldCaptionEn;
                 }else{
                      header.innerHTML  = AdTemplateFieldCaptionAr;
                     
                 }
                 div.appendChild(header);
                 customDiv.appendChild(div);
                 var Parentdiv = document.createElement('div');
                 Parentdiv.classList.add("list-single-main-item_content");
                 Parentdiv.classList.add("fl-wrap");
                 var newdiv = document.createElement('div');
                 newdiv.classList.add("single-carousel-wrap");
                 newdiv.classList.add("fl-wrap");
                 newdiv.classList.add("lightgallery");
                
                 var Innerdiv = document.createElement('div');
                 Innerdiv.classList.add("sc-next");
                 Innerdiv.classList.add("sc-btn");
                 Innerdiv.classList.add("color2-bg");
                 //Innerdiv.setAttribute('tabindex','0');
                 //Innerdiv.setAttribute('role','button');
                 //Innerdiv.setAttribute('aria-label','Previous slide');
                 //Innerdiv.setAttribute('aria-disabled','false');
                 Innerdiv.innerHTML = '<i class="fas fa-caret-right"></i>';
                 //Innerdiv.appendChild('<i class="fas fa-caret-right"></i>');
                 var NewInnerdiv = document.createElement('div');
                 NewInnerdiv.classList.add("sc-prev");
                 NewInnerdiv.classList.add("sc-btn");
                 NewInnerdiv.classList.add("color2-bg");
                 //NewInnerdiv.setAttribute('tabindex','0');
                 //NewInnerdiv.setAttribute('role','button');
                 //NewInnerdiv.setAttribute('aria-label','Next slide');
                 //NewInnerdiv.setAttribute('aria-disabled','false');
                 //NewInnerdiv.appendChild('<i class="fas fa-caret-left"></i>');
                  NewInnerdiv.innerHTML = '<i class="fas fa-caret-left"></i>';
                 newdiv.appendChild(Innerdiv);
                 newdiv.appendChild(NewInnerdiv);
                 var singlecarouselDiv = document.createElement('div');
                 singlecarouselDiv.classList.add("single-carousel");
                 singlecarouselDiv.classList.add("fl-wrap");
                 singlecarouselDiv.classList.add("full-height");
                 var swipercontainerDiv = document.createElement('div');
                 swipercontainerDiv.classList.add("swiper-container");
                 swipercontainerDiv.dir = "rtl";
                 
                  var swiperwDiv = document.createElement('div');
                 swiperwDiv.classList.add("swiper-wrapper");
              
                 
               
                 
                 
                 for(let i=0;i<AdContentValues.length;i++)
                 {
                     //console.log("ContentValues= "+AdContentValues[i].ContentValue)
                    var swiperslideDiv = document.createElement('div');
                     swiperslideDiv.classList.add("swiper-slide");
                    var boxitemDiv = document.createElement('div');
                     boxitemDiv.classList.add("box-item");
                    var img = document.createElement('img');
                     //img.classList.add("respimg");
                    
                    img.src = "/"+AdContentValues[i];
                    var anch = document.createElement('a');
                     anch.classList.add("gal-link");
                     anch.classList.add("popup-image");
                     anch.innerHTML = '<i class="fa fa-search"></i>';
                     //anch.innerHTML = '<i class="fa fa-search"></i>';
                     //anch.innerHTML = '<i class="fal fa-video"></i>';
                     //anch.appendChild('<i class="fa fa-search"></i>');
                     anch.href = "/"+AdContentValues[i];
                     boxitemDiv.appendChild(img);
                     boxitemDiv.appendChild(anch);
                     swiperslideDiv.appendChild(boxitemDiv);
                     swiperwDiv.appendChild(swiperslideDiv);
                     
                 }
                  swipercontainerDiv.appendChild(swiperwDiv);
                  singlecarouselDiv.appendChild(swipercontainerDiv);
                  newdiv.appendChild(singlecarouselDiv);
                  Parentdiv.appendChild(newdiv);
                  customDiv.appendChild(Parentdiv);
                  

                 ControlContent.appendChild(customDiv);

            }
            function DrawVedioGalary(AdContentValues,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {
                    
                var labelName=AdTemplateFieldCaptionEn;
                if(localStorage.getItem("lang")=="en")
                 {
                    labelName=AdTemplateFieldCaptionEn
                 }else{
                     labelName= AdTemplateFieldCaptionAr;
                 }
                 
                  
                  var customDiv = document.createElement('div');
                 customDiv.classList.add("list-single-main-item");
                 customDiv.classList.add("fl-wrap");
                 customDiv.classList.add("block_box");
                 customDiv.setAttribute('id','sec3');
                 var div = document.createElement('div');
                 div.classList.add("list-single-main-item-title");
                 var header = document.createElement('h3');
                 if(localStorage.getItem("lang")=="en")
                 {
                     header.innerHTML  = AdTemplateFieldCaptionEn;
                 }else{
                      header.innerHTML  = AdTemplateFieldCaptionAr;
                     
                 }
                 div.appendChild(header);
                 customDiv.appendChild(div);
                 var Parentdiv = document.createElement('div');
                 Parentdiv.classList.add("list-single-main-item_content");
                 Parentdiv.classList.add("fl-wrap");
                 var newdiv = document.createElement('div');
                 newdiv.classList.add("single-carousel-wrap");
                 newdiv.classList.add("fl-wrap");
                 newdiv.classList.add("lightgallery");
                
                 var Innerdiv = document.createElement('div');
                 Innerdiv.classList.add("sc-next");
                 Innerdiv.classList.add("sc-btn");
                 Innerdiv.classList.add("color2-bg");
                 Innerdiv.innerHTML = '<i class="fas fa-caret-right"></i>';
                 //Innerdiv.appendChild('<i class="fas fa-caret-right"></i>');
                 var NewInnerdiv = document.createElement('div');
                 NewInnerdiv.classList.add("sc-prev");
                 NewInnerdiv.classList.add("sc-btn");
                 NewInnerdiv.classList.add("color2-bg");
                 //NewInnerdiv.appendChild('<i class="fas fa-caret-left"></i>');
                  NewInnerdiv.innerHTML = '<i class="fas fa-caret-left"></i>';
                 newdiv.appendChild(Innerdiv);
                 newdiv.appendChild(NewInnerdiv);
                 var singlecarouselDiv = document.createElement('div');
                 singlecarouselDiv.classList.add("single-carousel");
                 singlecarouselDiv.classList.add("fl-wrap");
                 singlecarouselDiv.classList.add("full-height");
                 var swipercontainerDiv = document.createElement('div');
                 swipercontainerDiv.classList.add("swiper-container");
                 swipercontainerDiv.dir = "rtl";
                 
                  var swiperwDiv = document.createElement('div');
                 swiperwDiv.classList.add("swiper-wrapper");
              
                 
               
                 
                 
                 for(let i=0;i<AdContentValues.length;i++)
                 {
                 
                    var swiperslideDiv = document.createElement('div');
                    //swiperslideDiv.classList.add("swiper-slide");
                    var boxitemDiv = document.createElement('div');
                    //boxitemDiv.classList.add("box-item");
                    //boxitemDiv.classList.add("box-item");
                    var video = document.createElement('video');
                   
                   //video.src ="/"+AdContentValues[i].ContentValue;
                    video.src ="/"+AdContentValues[i];
                    video.autoplay = false;
                    video.controls = true;
                    video.muted = true;
                    video.height = 100; // in px
                    video.width = 100; // in px
                    boxitemDiv.appendChild(video);
                    swiperslideDiv.appendChild(boxitemDiv);
                    swiperwDiv.appendChild(swiperslideDiv);
                     
                 }
                  swipercontainerDiv.appendChild(swiperwDiv);
                  singlecarouselDiv.appendChild(swipercontainerDiv);
                  newdiv.appendChild(singlecarouselDiv);
                  Parentdiv.appendChild(newdiv);
                  customDiv.appendChild(Parentdiv);

                 ControlContent.appendChild(customDiv);

            }
            function DrawCheckBoxGroup(AdContentValues,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {
                 var customDiv = document.createElement('div');
                 customDiv.classList.add("list-single-main-item");
                 customDiv.classList.add("fl-wrap");
                 customDiv.classList.add("block_box");
                
                 var div = document.createElement('div');
                 div.classList.add("list-single-main-item-title");
                 var header = document.createElement('h3');
                 if(localStorage.getItem("lang")=="en")
                 {
                     header.innerHTML  = AdTemplateFieldCaptionEn;
                 }else{
                      header.innerHTML  = AdTemplateFieldCaptionAr;
                     
                 }
                 div.appendChild(header);
                 customDiv.appendChild(div);
                 var Parentdiv = document.createElement('div');
                 Parentdiv.classList.add("list-single-main-item_content");
                 Parentdiv.classList.add("fl-wrap");
                 var newdiv = document.createElement('div');
                 newdiv.classList.add("listing-features");
                 newdiv.classList.add("fl-wrap");
                 var ul = document.createElement('ul');
                 ul.classList.add("no-list-style");
                
                 for(let i=0;i<AdContentValues.length;i++)
                 {
                     var li = document.createElement('li');
                     var anch = document.createElement('a');
                     //anch.href ="#";
                     anch.innerHTML = '<i class="fa fa-rocket"></i>';
                     anch.innerHTML=anch.innerHTML + AdContentValues[i].ContentValue;
                     li.appendChild(anch);
                     ul.appendChild(li);
                 }
                  

                  newdiv.appendChild(ul);
                  Parentdiv.appendChild(newdiv);
                  customDiv.appendChild(Parentdiv);
                 ControlContent.appendChild(customDiv);

            }
            
                       
              function DrawMainImage(ContentValue,AdTemplateFieldCaptionEn,AdTemplateFieldCaptionAr)
            {

                
                    var imgva=document.getElementById("imgBg");
                    console.log(imgva);
                    imgva.setAttribute("data-bg", "/Images/ClassifiedAds/abeb1c53-41b8-498c-a3db-e765a027cbae_pd.png")

                    var eleVal=imgva.getAttribute("data-bg");
                    console.log(eleVal);

                     //imgva.data-bg.value='/Images/ClassifiedAds/abeb1c53-41b8-498c-a3db-e765a027cbae_pd.png';

                  var customDiv = document.createElement('div');
                 customDiv.classList.add("list-single-main-wrapper");
                 customDiv.classList.add("fl-wrap");
                 customDiv.setAttribute('id','sec2');
                 var div = document.createElement('div');
                 div.classList.add("list-single-main-media");
                 div.classList.add("fl-wrap");
                 var img = document.createElement('img');
                 img.classList.add("respimg");
                    img.src = "/"+ContentValue;
                    var anch = document.createElement('a');
                     anch.classList.add("promo-link");
                     anch.classList.add("image-popup");
                     anch.innerHTML = '<i class="fal fa-video"></i>';
                     anch.href = "/"+ContentValue;
                     div.appendChild(img);
                     div.appendChild(anch);
                     customDiv.appendChild(div);
                 
                 ControlContent.appendChild(customDiv);
                 
            }
       
            
            
            
            function addTofavourite(Classifiedid) {
           console.log("enter Function");

           $.ajax({
               type: "POST",
               beforeSend: function (xhr) {
                   xhr.setRequestHeader("XSRF-TOKEN",
                       $('input:hidden[name="__RequestVerificationToken"]').val());
               }
               ,
               url: "/ClassifiedDetails?handler=Favourite",
               async: false,
               data: JSON.stringify(Classifiedid),
               dataType: "json",
               contentType: "application/json; charset=utf-8",

               success: function (response) {

                   if (response == true) {
                       console.log(response);
                       document.getElementById('heart' + Classifiedid).style.color = "red";
                   } else
                       document.getElementById('heart' + Classifiedid).style.color = "white";

               },
               failure: function (response) {
               }
           });
       }
</script>
