@page
@model Vision.Areas.CRM.Pages.Configurations.ManageAdzTemplate.IndexModel

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdTemplateConfig[0].AdTemplateFieldCaptionAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTemplateConfig[0].AdTemplateFieldCaptionEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTemplateConfig[0].ClassifiedAdsCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTemplateConfig[0].FieldType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdTemplateConfig) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdTemplateFieldCaptionAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTemplateFieldCaptionEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassifiedAdsCategory.ClassifiedAdsCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldType.FieldTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdTemplateConfigId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdTemplateConfigId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdTemplateConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
