@page
@model Vision.Areas.CRM.Pages.Configurations.AdsCategories.IndexModel
@{
}
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = @sharedResource["Ads Category"];
    ViewBag.pTitle = @sharedResource["Ads Category"];
    ViewBag.pageTitle = @sharedResource["Ads Category"];
    ViewData["Title"] = @sharedResource["Ads Category"];
}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<style>
    .dataTables_filter {
        display: none;
    }
</style>



<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                   @* <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">

                            <button type="button" class="btn btn-success add-btn"
                                    data-bs-toggle="modal" id="create-btn"
                                    data-bs-target="#AddModal">
                                <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add a Sound Category"]
                            </button>

                        </div>
                    </div>*@
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>

                                    <th data-ordering="false">@sharedResource["Logo"]</th>
                                    <th data-ordering="false">@sharedResource["ArTitle"]</th>
                                    <th data-ordering="false">@sharedResource["ENTitle"]</th>
                                    <th data-ordering="false">@sharedResource["Sort Order"]</th>
                                    <th data-ordering="false">@sharedResource["Active"]</th>

                                    <th data-ordering="false">@sharedResource["Actions"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.ClassifiedAdsCategories)
                                    {
                                        <tr>
                                            <td>

                                                <img src="~/@item.ClassifiedAdsCategoryPic" alt="logo" style="width:50%"/> 
                                            </td>
                                            <td class=" text-center fw-bold">@item.ClassifiedAdsCategoryTitleAr </td>
                                            @*<td class="text-truncate text-center" style="max-width:350px; ">@Html.Raw(item.ContentAr)</td>*@
                                            <td class=" text-center fw-bold">@item.ClassifiedAdsCategoryTitleEn</td>
                                            @*<td class="text-truncate text-center" style="max-width:350px; "> @Html.Raw(item.ContentEn)</td>*@
                                            <td class="text-center">@item.ClassifiedAdsCategorySortOrder</td>
                                            <td class="text-center">
                                                @if (item.ClassifiedAdsCategoryIsActive)
                                                {
                                                    <input type="checkbox" disabled checked />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" disabled />
                                                }
                                            </td>
                                            <td class=" text-center fw-bold">
                                                <ul class="list-inline hstack gap-2 mb-0">
                                                   
                                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                        <a class="edit-item-btn" href="javascript:void(0)" data-bs-toggle="modal">
                                                            <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(@item.ClassifiedAdsCategoryId)"></i>
                                                        </a>
                                                    </li>
                                                   
                                                </ul>
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
        </div>
    </div>
    <!--end col-->
</div>

@*<partial name="_ViewPopup" model="@Model.soundCategory" view-data=" ViewData" />
<partial name="_AddPopup" model="@Model.soundCategory" view-data="ViewData" />*@

<partial name="_EditPopup" model="@Model.ClassifiedAdsCategory" view-data="ViewData" />


<!--datatable js-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>



    <!--End datatable js-->
}

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>

      $(document).ready(function () {
        var domainUrl = document.getElementById("UrlId").value;
        console.log("domainUrl: " + domainUrl);
        $('#myTable').DataTable({
            "dom": 'rt<"bottom"ip><"clear">',
            // ajax: { url: domainUrl + '/api/Lists/GetVideoMaterial' },
            //columns: [
            //    {
            //            "data": "YoutubeURL",
            //        "render": function (data, row) {
            //                //return "<embed width = '200' height = '100' src='" + data + "' />";
            //                //return "<video width='200' controls> < source src = '" + data + "' type = 'video/mp4' >< /video>"
            //                //return "<iframe width='200' height='100' src = '" + data + "'  autoplay; ></iframe>"
            //        }
            //    },

            //        { data: 'ARTitle' },
            //        { data: 'ENTitle' },
                   
            //        { data: 'videoCategory' },
            //        { data: "IsActive" },
            //    {
            //        data: "Id",
            //        render: function (data, type, row) {

            //                return '<ul class="list-inline hstack gap-2 mb-0"> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="View"><a href="javascript:void(0)" data-bs-toggle="modal"><i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(' + data + ')" ></i></a></li> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="Edit" ><a class="edit-item-btn" href="javascript:void(0)"data-bs-toggle="modal" > <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(' + data + ')"></i> </a> </li>    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"title="Delete"> <a class="remove-item-btn" data-bs-toggle="modal"href="javascript:void(0)" > <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteVideoMaterial(' + data + ')"></i> </a></li></ul>';

            //        },
            //        className: "dt-body-center"
            //    },


            //],



        });
    });
    $('#txtSearch').keyup(function () {
        var table = $('#myTable').DataTable();
        table.search($(this).val()).draw();
    });

    function validateMyForm() {


        if (document.getElementById("file").files.length == 0) {
            alert("You Must Select Image");
            return false;
        }
        return true;
    }

    function editButtonClick(ClassifiedAdsCategoryId) {
        $.ajax({
            type: "GET",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            }
            ,
            url: "/CRM/Configurations/AdsCategories/Index?handler=SingleAdsCategoryForEdit",

            data: { "ClassifiedAdsCategoryId": ClassifiedAdsCategoryId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {

                document.getElementById('img').src = "/" + response.ClassifiedAdsCategoryPic
                document.getElementById("HiddenId").value = response.ClassifiedAdsCategoryId
                document.getElementById("ArEditTitle").value = response.ClassifiedAdsCategoryTitleAr
                document.getElementById("ENEditTitle").value = response.ClassifiedAdsCategoryTitleEn
                document.getElementById("img").value = response.ClassifiedAdsCategoryPic
                document.getElementById("ClassifiedAdsCategorySortOrder").value = response.ClassifiedAdsCategorySortOrder
                document.getElementById("ClassifiedAdsCategoryDescAr").value = response.ClassifiedAdsCategoryDescAr
                document.getElementById("ClassifiedAdsCategoryDescEn").value = response.ClassifiedAdsCategoryDescEn

                
                document.getElementById("EditIsActive").checked = response.ClassifiedAdsCategoryIsActive
                console.log(response);
                $('#showEditModal').modal('show');


            },

            failure: function (response) {
                alert(response);
            }
        });
    }
    // === VIEW ===//
    function ShowViewPopUp(Id) {

        $.ajax({
            type: "GET",
            url: "/Admin/Configurations/ManageSoundCategory/Index?handler=SingleSoundCategoryForView",
            data: { "Id": Id },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                document.getElementById("SImage").src = "/" + response.Image
                document.getElementById("STitle").innerHTML = response.ArTitle
                document.getElementById("showENTitle").innerHTML = response.ENTitle

                document.getElementById("SIsActive").innerHTML = response.IsActive
                if (response.IsActive == true) {
                    document.getElementById("SIsActive").innerHTML = "Active"

                }
                else {
                    document.getElementById("SIsActive").innerHTML = "Non-Active"
                }

                $('#QuickViewPoup').modal('show');
                console.log(response);
            },
            failure: function (response) {
                alert(response);
            }
        });

    }
    function deleteSoundCategory(Id) {
        $.ajax({
            type: "GET",
            url: "/Admin/Configurations/ManageSoundCategory/Index?handler=SingleSoundCategoryForDelete",
            data: { "Id": Id },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                document.getElementById("DeleteSoundCategoryId").value = response.Id
                $('#deleteRecordModal').modal('show');


            },
            failure: function (response) {
                alert(response);
            }
        });
    }

</script>     