@page
@model Vision.Areas.CRM.Pages.Configurations.ManageFieldType.IndexModel

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FieldType[0].FieldTypeTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FieldType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldTypeTitle)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FieldTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.FieldTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FieldTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>